@import "../../../styles/settings/colors";
@import "../../../styles/mixins/hardware-accelerate";

$stroke-bg: $color-prim-red-burnt-sienna !default;
$stroke-height: 4px !default;
$stroke-z-index: 1px !default;
$stroke-transition-duration: 0.2s !default;
$stroke-transition-easing: ease !default;

.a-stroke,
.m-header-navigation__list-link.is-header-navigation-active::after {
  @include hardware-accelerate();

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $stroke-z-index;

  display: block;
  width: 0;
  height: 0;
  background: $color-prim-red-burnt-sienna;
  transition: height $stroke-transition-duration $stroke-transition-easing;
}

.a-stroke {
  &.is-stroke-enter {
    height: $stroke-height;
  }

  &.is-stroke-move {
    transition:
      left $stroke-transition-duration $stroke-transition-easing,
      width $stroke-transition-duration $stroke-transition-easing;
  }

  &.is-stroke-static {
    /* stylelint-disable-next-line declaration-no-important */
    left: 0 !important;
    bottom: 1px;
  }

  // Edge animation broken
  // see https://github.com/axa-ch/patterns-library/issues/304
  &.is-stroke-transition-off {
    /* stylelint-disable-next-line declaration-no-important */
    transition-property: none !important;
    /* stylelint-disable-next-line declaration-no-important */
    transition-duration: 0s !important;
  }
}

.m-header-navigation__list-link.is-header-navigation-active {
  &::after {
    bottom: 1px;

    width: 100%;
    height: $stroke-height;

    content: '';

    .is-stroke-interactive & {
      height: 0;
    }
  }

  &.is-stroke-active-open::after {
    transition-property: none;
    transition-duration: 0s;
  }

  &.is-stroke-active-move::after {
    height: $stroke-height;
  }
}
