@import "../../../styles/settings/colors";

$button-x-padding-min: 20px !default;
$button-x-padding-max: 40px !default;
$button-x-padding-default: 30px !default;

$button-border-width: 2px !default;
$button-border-width--sm: 1px !default;

$button__icon-width: 16px !default;
$button__icon-width--lg: 20px !default;
$button__icon-padding: 8px !default;
$button__icon-padding--sm: 5px !default;
$button__icon-padding--lg: 11px !default;

$button-sm-height: 30px !default;
$button-md-height: 40px !default;
$button-lg-height: 50px !default;

$button-padding-top-bottom-sm: 5.5px !default;
$button-padding-top-bottom-md: 10px !default;
$button-padding-top-bottom-lg: 11px !default;

$button__arrow-width: 13px !default;
$button__arrow-width--lg: 17px !default;
$button__arrow-gap: 12px !default;
$button__arrow-motion-duration: 0.6s !default;
$button__arrow-motion-easing: ease !default;

$button__motion-duration: 0.3s !default;
$button__motion-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955) !default;
$button__motion-z-index: 0 !default;
$button__motion-pseudo-z-index: -1 !default;

$button-color:
  (
    default: (
      text: $color-prim-white,
      text--ghost: $color-axa-blue,
      text--ghost--hover: $color-prim-blue-deep-sapphire,
      bg: $color-axa-blue,
      bg--hover: $color-prim-blue-deep-sapphire,
      bg--disabled: $color-button-bg--disabled,
      bg--ghost: transparent,
      bg--ghost--hover: transparent,
      bg--motion: $color-prim-blue-deep-sapphire,
      bg--motion--hover: $color-prim-blue-deep-sapphire,
      text--motion--hover: $color-prim-white,
      text--disabled: $color-prim-gray-dusty,
      arrow--disabled: $color-prim-gray-dusty,
      border--disabled: $color-prim-gray-silver,
      icon--disabled: $color-prim-gray-silver,
    ),
    red: (
      text: $color-prim-white,
      text--ghost: $color-prim-red-burnt-sienna,
      text--ghost--hover: $color-prim-red-flamingo,
      bg: $color-prim-red-burnt-sienna,
      bg--hover: $color-prim-red-flamingo,
      bg--disabled: $color-button-bg--disabled,
      bg--ghost: transparent,
      bg--ghost--hover: transparent,
      bg--motion: $color-prim-red-flamingo,
      bg--motion--hover: $color-prim-red-flamingo,
      text--motion--hover: $color-prim-white,
    ),
    white: (
      text: $color-prim-white,
      text--ghost: $color-prim-white,
      text--ghost--hover: $color-prim-blue-dark-indigo,
      bg: $color-prim-white,
      bg--hover: $color-prim-blue-deep-sapphire,
      bg--disabled: $color-button-bg--disabled,
      bg--ghost: transparent,
      bg--ghost--hover: $color-prim-white,
      bg--motion: $color-prim-white,
      bg--motion--hover: $color-prim-white,
      text--motion--hover: $color-prim-blue-dark-indigo,
    )
  ) !default;
