<div class="is-header-sub-navigation-open">

  <axa-header-sub-navigation index-title="Index Page" index-url="#" items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link", "isActive": true},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link", "isActive": true},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "isWide": true,
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link", "isActive": true},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link", "isActive": true},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link", "isActive": true},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>

  <axa-header-sub-navigation items='[
    {
      "columns": [
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link", "isActive": true}
          ],
          "title": "Category"
        },
        {
          "links": [
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"},
            {"url": "#", "name": "Link"}
          ],
          "title": "Category"
        }
      ]
    }
  ]'></axa-header-sub-navigation>
</div>
