@import "./settings/dropdown";
@import "../../styles/settings/colors";
@import "../../styles/settings/zindex";
@import "../../styles/mixins/button-reset";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "./mixins/dropdown";

$dropdown-min-width: 100px;
$dropdown-height: 40px;
$dropdown-spacing: 10px 40px 10px 10px;

.m-dropdown {
  @include dropdown-container();

  display: inline-block;
}

.m-dropdown--sm {
  @include dropdown--sm(true);
}

// native select
.m-dropdown__select-wrap {
  @include dropdown-frame();
  @include dropdown-select-wrap();
}

.m-dropdown__select-wrap--sm {
  @include dropdown--sm();
}

.m-dropdown__select {
  @include normalize-native-select-styles();
  min-width: $dropdown-min-width;
  padding: $dropdown-spacing;
  height: $dropdown-height;
  line-height: normal;

  .is-dropdown-open & {
    height: auto;
  }
}

.m-dropdown__select--sm {
  @include dropdown--sm(true);
}

.m-dropdown__select-icon {
  @include dropdown-select-icon();
}

.m-dropdown__select-option--hidden {
  display: none;
}

// js enhanced dropdown
.m-dropdown__toggle {
  @include button-reset();
  @include dropdown-toggle();
  @include dropdown-frame();

  &:hover,
  &:active,
  &:focus {
    &::after {
      display: block;
    }
  }

  &::after {
    position: absolute;
    bottom: -$dropdown__frame-border-width;
    left: 0;
    z-index: $zindex-dropdown + 1;

    display: none;
    width: 100%;
    height: $dropdown__frame-border-width;
    overflow: hidden;

    content: '';
    background: $dropdown__frame-color--hover;
  }
}

.m-dropdown__toggle--sm {
  @include dropdown-toggle--sm();
}

.m-dropdown__icon {
  @include dropdown-icon();
  pointer-events: none;
  line-height: 0;

  &.a-icon .a-icon__svg {
    width: 15px;
    height: 15px;
  }

  .m-dropdown--gpu > & {
    @include dropdown-icon--gpu();
  }
}

.m-dropdown__select-icon--sm {
  @include dropdown--sm();
}


.m-dropdown__list--native {
  @include respond-up(sm) {
    display: none;
  }
}

.m-dropdown__list--native {
  @include respond-up(sm) {
    display: none;
  }
}

.m-dropdown__list--native--only {
  display: block;

  @include respond-up(sm) {
    display: block;
  }
}

.m-dropdown__list--enhanced {
  display: none;

  @include respond-up(sm) {
    display: block;
  }
}

.m-dropdown__content {
  @include unstyle-list();
  @include dropdown-content();

  margin-top: -$dropdown__frame-border-width;

  background: $dropdown__content-bg;

  .m-dropdown--in-flow > & {
    @include dropdown-inflow();
  }

  .m-dropdown--gpu > & {
    @include dropdown-content--gpu();
  }
}

.m-dropdown__item {
  border-left: $dropdown__item-border-width solid $dropdown__item-border-color;
  border-right: $dropdown__item-border-width solid $dropdown__item-border-color;

  &:first-child {
    border-top: $dropdown__item-border-width solid $dropdown__item-border-color;
  }

  &:last-child {
    border-bottom: $dropdown__item-border-width-last solid $dropdown__item-border-color;
  }
}

.m-dropdown__toggle,
.m-dropdown__link {
  @include typo-decls('typo-18');
  line-height: normal; // no responsivesness within fixed boxes
}

.m-dropdown__link {
  display: block;
  padding: $dropdown__frame-y-padding $dropdown__frame-x-padding;

  color: $dropdown__frame-color;
  white-space: nowrap;

  &:hover,
  &:active,
  &:focus {
    color: $dropdown__frame-color--hover;
    text-decoration: none;
    background: $color-prim-gray-wild-sand;
  }
}
