<axa-sticky-container>
  <axa-header>
    <axa-header-top-content-bar class="u-hide-md-down" type="commercial">
      <p class="m-header-top-content-bar__text">commercial <axa-link color="white">link</axa-link> stuff</p>
      <axa-button ghost color="white" classes="m-header-top-content-bar__button">get it for free</axa-button>
    </axa-header-top-content-bar>

    <axa-sticky class="o-header__fade">
      <axa-header-meta>
        <axa-header-others items='[
            {"name": "individuals", "url": "#", "isActive": true},
            {"name": "small busineses", "url": "#"},
            {"name": "businesses", "url": "#"}
          ]'></axa-header-others>

        <axa-header-meta-right>
          <axa-header-languages items='[
              {"name": "de", "url": "#de", "isActive": true},
              {"name": "en", "url": "#en"},
              {"name": "fr", "url": "#fr"},
              {"name": "it", "url": "#it"}
            ]'></axa-header-languages>

          <axa-button motion>myAXA Login</axa-button>
        </axa-header-meta-right>
      </axa-header-meta>

      <axa-header-main first-left>
        <axa-header-logo></axa-header-logo>

        <axa-header-navigation items='[
          {
            "url": "#",
            "name": "Offers",
            "isActive": true,
            "items": [
              {
                "columns": [
                  {
                    "links": [
                      {"url": "#", "name": "Property insurance", "isActive": true, "preventDefault": true},
                      {"url": "#", "name": "Engineering insurance", "preventDefault": true},
                      {"url": "#", "name": "LooooooooooooooooooooooooooooooongTiiiiiiiiiitle", "preventDefault": true},
                      {"url": "#", "name": "Third-party liability insurance", "preventDefault": true},
                      {"url": "#", "name": "Fidelity insurance", "preventDefault": true},
                      {"url": "#", "name": "Companies", "preventDefault": true},
                      {"url": "#", "name": "Transportation insurance <br> subline", "preventDefault": true},
                      {"url": "#", "name": "Building insurance", "preventDefault": true},
                      {"url": "#", "name": "Construction insurance", "preventDefault": true},
                      {"url": "#", "name": "Guarantees and bonds", "preventDefault": true},
                      {"url": "#", "name": "Credit insurance", "preventDefault": true},
                      {"url": "#", "name": "Epidemic insurance", "preventDefault": true},
                      {"url": "#", "name": "Cyber insurance", "preventDefault": true}
                    ],
                    "title": "Liability and property"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "Car insurance", "preventDefault": true},
                      {"url": "#", "name": "Watercraft insurance", "preventDefault": true},
                      {"url": "#", "name": "Aviation insurance", "preventDefault": true}
                    ],
                    "title": "Vehicles"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "Daily sickness benefits insurance", "preventDefault": true},
                      {"url": "#", "name": "Accident insurance for companies", "preventDefault": true}
                    ],
                    "title": "Persons"
                  }
                ]
              },
              {
                "columns": [
                  {
                    "links": [
                      {"url": "#", "name": "Solutions for start-ups and SMEs", "preventDefault": true},
                      {"url": "#", "name": "Pension fund solutions", "preventDefault": true}
                    ],
                    "title": "Occupational benefits"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "Smart Fleet", "preventDefault": true},
                      {"url": "#", "name": "Pre-finance customer invoices", "preventDefault": true}
                    ],
                    "title": "AXA & partners"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "Corporate Health Management", "preventDefault": true},
                      {"url": "#", "name": "Customer magazine", "preventDefault": true},
                      {"url": "#", "name": "Current legislation on Pillar 2 – BVG", "preventDefault": true}
                    ],
                    "title": "Knowledge"
                  }
                ]
              }
            ]
          },
          {
            "url": "#",
            "name": "Your Situation",
            "items": [
              {
                "isWide": true,
                "columns": [
                  {
                    "links": [
                      {"url": "#", "name": "Your company start-up", "preventDefault": true},
                      {"url": "#", "name": "Your self-employment", "preventDefault": true},
                      {"url": "#", "name": "Your succession planning", "preventDefault": true},
                      {"url": "#", "name": "The health of your employees", "preventDefault": true}
                    ],
                    "title": "You are interested in"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "Company with up to 20 employees", "preventDefault": true},
                      {"url": "#", "name": "Company with 20 to 100 employees", "preventDefault": true},
                      {"url": "#", "name": "Corporates with 100+ employees", "preventDefault": true}
                    ],
                    "title": "You are a ..."
                  }
                ]
              }
            ]
          },
          {
            "url": "#",
            "name": "Advice, Contact, Service",
            "items": [
              {
                "columns": [
                  {
                    "links": [
                      {"url": "#", "name": "Corporate customer advisor", "preventDefault": true},
                      {"url": "#", "name": "Consultant pension fund", "preventDefault": true},
                      {"url": "#", "name": "Insurance check", "preventDefault": true}
                    ],
                    "title": "Advice"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "General contact", "preventDefault": true}
                    ],
                    "title": "Contact"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "Download-Center Corporate customers", "preventDefault": true}
                    ],
                    "title": "Service"
                  }
                ]
              }
            ]
          },
          {
            "url": "#",
            "name": "Report and Update",
            "items": [
              {
                "columns": [
                  {
                    "links": [
                      {"url": "#", "name": "Electronic salary notification", "preventDefault": true},
                      {"url": "#", "name": "Report accident / illness", "preventDefault": true},
                      {"url": "#", "name": "File a claim", "preventDefault": true},
                      {"url": "#", "name": "Online contract administration for BVG", "preventDefault": true}
                    ],
                    "title": "Notify"
                  },
                  {
                    "links": [
                      {"url": "#", "name": "myAXA customer portal", "preventDefault": true}
                    ],
                    "title": "Update"
                  }
                ]
              }
            ]
          },
          {
            "url": "#",
            "name": "Blog",
            "items": [
              {
                "columns": [
                  {
                    "links": [
                      {"url": "#", "name": "Link", "preventDefault": true},
                      {"url": "#", "name": "Link", "preventDefault": true},
                      {"url": "#", "name": "Link", "preventDefault": true}
                    ],
                    "title": "Category"
                  }
                ]
              }
            ]
          }
        ]'></axa-header-navigation>

        <axa-header-search></axa-header-search>
        <axa-header-burger></axa-header-burger>
      </axa-header-main>

      <axa-header-mobile>
        <axa-button motion classes="m-header-mobile__box--button">myAXA Login</axa-button>

        <axa-header-mobile-navigation items='[{"name": "car insurance", "isActive": true, "items": [
               {"name": "professional indemnity insurance"},
               {"name": "public liability insurance"},
               {"name": "shop insurance sub line", "isActive": true},
               {"name": "van insurance"},
               {"name": "residential landlord insurance"}
               ]},
        {"name": "home insurance", "items": [
               {"name": "personal sub line", "items": [
                      {"name": "car insurance"},
                      {"name": "home insurance"},
                      {"name": "travel insurance"},
                      {"name": "breakdown cover"},
                      {"name": "van insurance"}
               ]},
               {"name": "business", "items": [
                      {"name": "professional indemnity insurance"},
                      {"name": "public liability insurance"},
                      {"name": "shop insurance"},
                      {"name": "van insurance"},
                      {"name": "residential landlord insurance"}
               ]}
        ]},
        {"name": "health insurance", "items": [
               {"name": "personal sub line", "items": [
                      {"name": "car insurance"},
                      {"name": "home insurance"},
                      {"name": "travel insurance"},
                      {"name": "breakdown cover"},
                      {"name": "van insurance"}
               ]},
               {"name": "business", "items": [
                      {"name": "professional indemnity insurance"},
                      {"name": "public liability insurance"},
                      {"name": "shop insurance"},
                      {"name": "van insurance"},
                      {"name": "residential landlord insurance"}
               ]}

        ]},
        {"name": "travel insurance", "items": [
               {"name": "personal sub line", "items": [
                      {"name": "car insurance"},
                      {"name": "home insurance"},
                      {"name": "travel insurance"},
                      {"name": "breakdown cover"},
                      {"name": "van insurance"}
               ]},
               {"name": "business", "items": [
                      {"name": "professional indemnity insurance"},
                      {"name": "public liability insurance"},
                      {"name": "shop insurance"},
                      {"name": "van insurance"},
                      {"name": "residential landlord insurance"}
               ]}

        ]},
        {"name": "all products", "items": [
               {"name": "personal sub line", "items": [
                      {"name": "car insurance"},
                      {"name": "home insurance"},
                      {"name": "travel insurance"},
                      {"name": "breakdown cover"},
                      {"name": "van insurance"}
               ]},
               {"name": "business", "items": [
                      {"name": "professional indemnity insurance"},
                      {"name": "public liability insurance"},
                      {"name": "shop insurance"},
                      {"name": "van insurance"},
                      {"name": "residential landlord insurance"}
               ]}

        ]}
        ]'></axa-header-mobile-navigation>

        <axa-button motion classes="m-header-mobile__box--button">myAXA Login</axa-button>

        <axa-header-top-content-bar type="commercial">
          <p class="m-header-top-content-bar__text">commercial <axa-link color="white">link</axa-link> stuff</p>
          <axa-button ghost color="white" classes="m-header-top-content-bar__button">get it for free</axa-button>
        </axa-header-top-content-bar>

        <axa-header-mobile-others
          items='[
            {"name": "individuals", "url": "#", "isActive": true},
            {"name": "small busineses", "url": "#"},
            {"name": "businesses", "url": "#"}
          ]'
        ></axa-header-mobile-others>

        <axa-header-mobile-languages items='[
          {"code": "de", "url": "#", "isActive": true},
          {"code": "en", "url": "#en"},
          {"code": "fr", "url": "#fr"},
          {"code": "it", "url": "#it"}
        ]'></axa-header-mobile-languages>
      </axa-header-mobile>
    </axa-sticky>
  </axa-header>
  <div style="height: 500px;">Empty space</div>
</axa-sticky-container>
