<header class="sg-header">
  <axa-header>
    <axa-header-main first-left>
      <axa-header-logo href="index.html"></axa-header-logo>

      <axa-header-navigation items='[
        {
          "url": "#",
          "name": "Organisms"<!-- {CUT AND INJECT ACTIVE ORGANISMS} -->,
          "items": [
            {
              "columns": [
                {
                  "links": [
                    {"url": "<!-- {CUT AND INJECT PREFIX} -->/organisms.html", "name": "All"}
                  ]
                }<!-- {CUT AND INJECT ORGANISMS BUTTONS} -->
              ]
            }
          ]
        },
        {
          "url": "#",
          "name": "Molecules"<!-- {CUT AND INJECT ACTIVE MOLECULES} -->,
          "items": [
            {
              "columns": [
                {
                  "links": [
                    {"url": "<!-- {CUT AND INJECT PREFIX} -->/molecules.html", "name": "All"}
                  ]
                }<!-- {CUT AND INJECT MOLECULES BUTTONS} -->
              ]
            }
          ]
        },
        {
          "url": "#",
          "name": "Atoms"<!-- {CUT AND INJECT ACTIVE ATOMS} -->,
          "items": [
            {
              "columns": [
                {
                  "links": [
                    {"url": "<!-- {CUT AND INJECT PREFIX} -->/atoms.html", "name": "All"}
                  ]
                }<!-- {CUT AND INJECT ATOMS BUTTONS} -->
              ]
            }
          ]
        },
        {
          "url": "#",
          "name": "React"<!-- {CUT AND INJECT ACTIVE REACT} -->,
          "items": [
            {
              "columns": [
                {
                  "links": [
                    {"url": "<!-- {CUT AND INJECT PREFIX} -->/react.html", "name": "All"}
                  ]
                }<!-- {CUT AND INJECT REACT BUTTONS} -->
              ]
            }
          ]
        }
      ]'></axa-header-navigation>

      <h3 class="o-sg-patternlink">
        <a class="o-sg-patternlink__link" href="https://github.com/axa-ch/patterns-library">
          <span>View on GitHub</span>&nbsp;&nbsp;
          <svg version="1.1" width="16" height="16" viewBox="0 0 16 16" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
        </a>
      </h3>
      <axa-header-burger></axa-header-burger>
    </axa-header-main>

    <axa-header-mobile>

      <axa-header-mobile-navigation items='[
        {
          "url": "#",
          "name": "Organisms"<!-- {CUT AND INJECT ACTIVE ORGANISMS} -->,
          "items": [
            {"name": "All", "url": "<!-- {CUT AND INJECT PREFIX} -->/organisms.html"}<!-- {CUT AND INJECT ORGANISMS MOBILE BUTTONS} -->
          ]
        },
        {
          "url": "#",
          "name": "Molecules"<!-- {CUT AND INJECT ACTIVE MOLECULES} -->,
          "items": [
            {"name": "All", "url": "<!-- {CUT AND INJECT PREFIX} -->/molecules.html"}<!-- {CUT AND INJECT MOLECULES MOBILE BUTTONS} -->
          ]
        },
        {
          "url": "#",
          "name": "Atoms"<!-- {CUT AND INJECT ACTIVE ATOMS} -->,
          "items": [
            {"name": "All", "url": "<!-- {CUT AND INJECT PREFIX} -->/atoms.html"}<!-- {CUT AND INJECT ATOMS MOBILE BUTTONS} -->
          ]
        },
        {
          "url": "<!-- {CUT AND INJECT PREFIX} -->/react.html",
          "name": "React"<!-- {CUT AND INJECT ACTIVE ATOMS} -->
        }
      ]'></axa-header-mobile-navigation>
    </axa-header-mobile>
  </axa-header>
</header>
