<axa-commercial-hero-cover
  src="https://d5cplpsrt2s33.cloudfront.net/m/24c1b33e4e8ceda1/WIDE_1440_560_X2-hero_kv_neu_kv_breit_web.jpg"
  gradient="black"
  content-align="left">

  <section class="o-commercial-hero-cover__section js-commercial-hero-cover__first">
    <h2 class="o-commercial-hero-cover__subtitle">Car Insurance</h2>
    <h1 class="o-commercial-hero-cover__title">Drive with peace of mind</h1>
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford</p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="blue" motion size="lg">Get a
      quote
    </axa-button>
  </section>

  <section class="o-commercial-hero-cover__section js-commercial-hero-cover__second">
    <p class="o-commercial-hero-cover__text">This area can be used to place custom teasers (if agreed on by design team).</p>
  </section>

</axa-commercial-hero-cover>
<axa-commercial-hero-cover
  src="https://d5cplpsrt2s33.cloudfront.net/m/24c1b33e4e8ceda1/WIDE_1440_560_X2-hero_kv_neu_kv_breit_web.jpg"
  gradient="white"
  content-align="right"
  picture-classes="a-focal-point a-focal-point--center"
  hero-object-position="top left">
  <section class="o-commercial-hero-cover__section">
    <h2 class="o-commercial-hero-cover__subtitle">This example shows specific picture classes</h2>
    <h1 class="o-commercial-hero-cover__title">Drive with peace of mind</h1>
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford</p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion size="lg">Get a
      quote
    </axa-button>
  </section>

</axa-commercial-hero-cover>
<axa-commercial-hero-cover
  src="https://d5cplpsrt2s33.cloudfront.net/m/24c1b33e4e8ceda1/WIDE_1440_560_X2-hero_kv_neu_kv_breit_web.jpg"
  gradient="white"
  content-align="left">
  <section class="o-commercial-hero-cover__section">
    <h2 class="o-commercial-hero-cover__subtitle">Car Insurance</h2>
    <h1 class="o-commercial-hero-cover__title">Drive with peace of mind</h1>
    <p class="o-commercial-hero-cover__text">Whether you need to insure your first car or renew your existing car
      insurance, AXA can provide a range of car insurance policies to suit your requirements and offer great product
      benefits at a price you can afford </p>
    <axa-button tag="a" href="http://www.google.com" class="o-commercial-hero-cover__button" color="red" motion size="lg">Get a
      quote
    </axa-button>
  </section>
</axa-commercial-hero-cover>
