@import "../../styles/typo/typo-mixins";
@import "../../styles/settings/colors";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/respond";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/word-break";
@import "../m-button/mixins/button";

$picture-z-index: -1;
$hero-xs-height: 256px;
$hero-md-height: 376px;
$hero-lg-height: 480px;
$hero-xxl-height: 560px;
$margin-info-mobile: 140px;
$margin-10: 10px;
$margin-20: 20px;
$margin-30: 30px;

.o-commercial-hero-cover {
  display: block;
}

.o-commercial-hero-cover__header {
  position: relative;

  min-height: $hero-xs-height;
  margin-bottom: 0;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(180deg, transparent 200px, white 0);

  color: $color-text;

  @include respond-up(md) {
    min-height: $hero-md-height;
  }

  @include respond-up(lg) {
    height: $hero-lg-height;

    &.o-commercial-hero-cover__header__gradient-white {
      background: linear-gradient(270deg, fade_out($color-prim-white, 1) 30%, fade_out($color-prim-white, 0.1) 60%, $color-prim-white 100%);
    }

    &.o-commercial-hero-cover__header__gradient-black {
      background: linear-gradient(270deg, fade_out($color-prim-black, 1) 30%, fade_out($color-prim-black, 0.2) 60%, $color-prim-black 100%);

      color: $color-text--highlight;
    }

    &.o-commercial-hero-cover__header__gradient-white-inverted {
      background: linear-gradient(90deg, fade_out($color-prim-white, 1) 30%, fade_out($color-prim-white, 0.1) 60%, $color-prim-white 100%);
    }

    &.o-commercial-hero-cover__header__gradient-black-inverted {
      background: linear-gradient(90deg, fade_out($color-prim-black, 1) 30%, fade_out($color-prim-black, 0.2) 60%, $color-prim-black 100%);

      color: $color-text--highlight;
    }
  }

  @include respond-up(xxl) {
    height: $hero-xxl-height;
  }
}

.o-commercial-hero-cover__picture {

  position: absolute;

  top: 0;
  left: 0;

  z-index: $picture-z-index;

  display: block;

  width: 100%;
  height: $hero-xs-height;
  content: '';

  @include respond-up(md) {
    height: $hero-md-height;
  }

  @include respond-up(lg) {
    height: $hero-lg-height;
  }

  @include respond-up(xxl) {
    height: $hero-xxl-height;
  }
}

.o-commercial-hero-cover__picture__image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.o-commercial-hero-cover__info {
  height: 100%;
  overflow: hidden;
  margin: $margin-info-mobile $margin-10 $margin-30;

  background: $color-prim-white;

  @include respond-up(md) {
    margin: $margin-info-mobile $margin-30 $margin-30;
  }

  @include respond-up(lg) {
    margin: 0;
    display: flex;

    align-items: center;
    background: transparent;
  }
}

.o-commercial-hero-cover__subtitle {
  @include word-break();
  @include typo_tag--semibold();
  text-transform: uppercase;
}

.o-commercial-hero-cover__section {
  margin-top: $margin-20;

  @include respond-up(lg) {
    margin: 0;
    display: flex;

    flex-direction: column;
    justify-content: center;
  }
}

.o-commercial-hero-cover__title {
  @include word-break();
  @include typo-slice-title--publico();

  margin-top: $margin-10;

  @include respond-up(md) {
    margin-top: $margin-20;
  }
}

.o-commercial-hero-cover__text {
  @include word-break();
  @include typo-text-longer();
  @include typo-secondary-text();
  margin-top: $margin-20;
}

.o-commercial-hero-cover__button {
  @include typo-secondary-text--semibold();
  margin-top: $margin-30;
  margin-bottom: $margin-10;
  display: block;
}

.m-row,
.u-container {
  &.o-commercial-hero-cover__full-height {
    height: 100%;
  }
}

.m-col.o-commercial-hero-cover__flex {
  display: flex;

  justify-content: center;
  flex-direction: column;
}
