<axa-header-meta>
  <axa-header-others items='[
    {"name": "individuals", "url": "#", "isActive": true},
    {"name": "small busineses", "url": "#"},
    {"name": "businesses", "url": "#"}
  ]'></axa-header-others>
</axa-header-meta>
