@import "settings/header-navigation";
@import "../m-header-main/settings/header-main";
@import "../m-link/mixins/link";
@import "../../styles/mixins/respond";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";
@import "styles/stroke";

.m-header-navigation {
  display: block;

  margin-left: auto;

  @include respond-down(md) {
    display: none;
  }
}

.m-header-navigation__list {
  @include unstyle-list();

  display: flex;
}

.m-header-navigation__list-item {
  display: block;

  float: left;

  margin: 0 $header-navigation__list-item-x-margin;
}

.m-header-navigation__list-link {
  @include link-color-only();
  @include typo-legals--semibold();

  position: relative;

  display: flex;
  height: $header-main-height;
  padding: 0 $header-navigation__list-link-x-padding;

  align-items: center;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  &.is-header-navigation-active,
  &:hover,
  &:active,
  &:focus {
    @include link-color--hover();

    text-decoration: none;
  }

  /* stylelint-disable indentation */
  @at-root .m-header-navigation__list-link--hyphenate,
  .m-header-navigation--hyphenate & {
    @include word-break();
  }
  /* stylelint-enable indentation */
}
