@import "./settings/footer-links";
@import "../../styles/mixins/clearfix";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/respond";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";
@import "../m-dropdown/mixins/dropdown";

.m-footer-links {
  @include make-col-ready();
  @include make-col(3);

  display: block;
  margin-left: 0;
  text-align: left;

  @include respond-down(md) {
    @include make-col(4);
  }

  @include respond-down(xs) {
    @include reset-col();

    padding: 0;
  }
}

.m-footer-links__row {
  @include make-row();
}

.m-footer-links__block {
  margin-left: $footer-links__block-margin-left;

  &:first-child {
    margin-left: 0;
  }

  @include respond-down(xs) {
    @include dropdown-container();
  }
}

.m-footer-links__category {
  @include word-break();
  @include typo-secondary-text--bold();

  display: block;

  color: $footer-links__category-color;
  text-transform: uppercase;

  @include respond-down(xs) {
    $padding-y: $footer-links__category-padding-y;
    $padding-left: $footer-links__category-padding-x;
    $padding-right: $footer-links__category-padding-x + $footer-links__category__icon-right;

    @include typo-secondary-text--semibold();
    @include dropdown-toggle();

    padding: $padding-y $padding-right $padding-y $padding-left;
    border-bottom: 1px solid $color-prim-blue-st-tropaz;

    background: $color-prim-blue-dark-indigo;
  }
}

.m-footer-links__category__icon,
.m-footer-links__category__icon.a-icon__svg {
  @include dropdown-icon($footer-links__category__icon-size, $footer-links__category__icon-right);

  display: none;

  @include respond-down(xs) {
    display: block;
  }
}

.m-footer-links__list {
  @include unstyle-list();

  display: block;
  padding-top: $footer-links__list-padding-top;

  @include respond-down(md) {
    padding-top: $footer-links__list-padding-top--md;
  }

  @include respond-down(xs) {
    @include dropdown-content();
    @include dropdown-inflow();

    display: block;
    margin: 0;
    padding: 0;

    background: $footer-links__list-bg--xs;
  }

  @include respond-up(sm) {
    /* stylelint-disable-next-line declaration-no-important */
    height: auto !important;
  }
}

.m-footer-links.js-footer--is-open .m-footer-links__list {
  /* stylelint-disable-next-line declaration-no-important */
  height: auto !important;
}

.m-footer-links__list-item {
  display: block;
  width: 100%;
  margin-top: $footer-links__list-item-margin-top;

  @include respond-down(md) {
    margin-top: $footer-links__list-item-margin-top--md;
  }

  @include respond-down(xs) {
    margin-top: 0;
    border-bottom: $footer-links__list-item-border-bottom-width solid $footer-links__list-item-border-bottom-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

.m-footer-links__link {
  @include word-break();
  @include typo-tag();

  display: block;
  padding: $footer-links__link-padding-y 0;

  color: $footer-links__link-color;

  .is-footer-links__list-item-active > &,
  &:hover,
  &:active,
  &:focus {
    color: $footer-links__link-color--hover;
    text-decoration: none;
  }

  @include respond-down(xs) {
    padding: $footer-links__link-padding-y--xs $footer-links__link-padding-x--xs;
  }
}

.m-footer-links--cols-2 {
  @include make-col(5);

  // Firefox messes with scrollHeight on mobile if it's set there
  .m-footer-links__list {
    @include respond-up(sm) {
      column-count: 2;
    }
  }

  // fix CSS-Column offset bug
  .m-footer-links__list-item {
    @include respond-up(sm) {
      display: inline-block;
    }
  }

  @include respond-down(md) {
    @include make-col(8);
  }

  @include respond-down(xs) {
    @include reset-col();
  }
}
