<div style="max-width: 50%;">
  <axa-form-group legend="Test Legend">
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group legend="Test Legend">
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group>
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group>
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group legend="Test Legend"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>

  <axa-form-group legend="Test Legend"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group legend="Test Legend"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>
  <axa-form-group legend="Test Legend"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input value="Pre-filled content" name="test-name"></axa-input>
  </axa-form-group>

  <axa-form-group legend="Test Legend"
                  error="Caramels liquorice ice cream gingerbread gummi bears."
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-input value="Pre-filled content" name="test-name" error="Some error!"></axa-input>
  </axa-form-group>
  <axa-form-group legend="Test Legend"
                  info="Caramels liquorice ice cream gingerbread gummi bears. Lemon drops cookie wafer cake. Sweet roll sesame snaps chocolate bar bear claw lemon drops sugar plum cupcake candy canes icing.">
    <axa-checkbox value="a" name="test-name2">hello</axa-checkbox>
    <axa-checkbox value="b" name="test-name2" checked>hello</axa-checkbox>
    <axa-checkbox value="c" name="test-name2">hello</axa-checkbox>
    <axa-checkbox value="d" name="test-name2">hello</axa-checkbox>
  </axa-form-group>
</div>
