@import "../../../styles/settings/colors";
@import "../../../styles/settings/zindex";

$dropdown__frame-bg: $color-prim-white !default;
$dropdown__frame-color: $color-prim-gray-mine-shaft !default;
$dropdown__frame-color--hover: $color-axa-blue !default;
$dropdown__frame-y-padding: 10.5px !default;
$dropdown__frame-y-padding-sm: 5.5px !default;
$dropdown__frame-x-padding: 12px !default;
$dropdown__frame-border-width: 1px !default;
$dropdown__frame-border-color: $color-prim-gray-silver !default;

$dropdown__select-height: 50px !default;
$dropdown__select-height-sm: 40px !default;
$dropdown__select-indent: $dropdown__frame-x-padding !default;

$dropdown__icon-size: 15px !default;
$dropdown__icon-gap: 20px !default;
$dropdown__icon-color: $color-prim-gray-dusty !default;

$dropdown__content-bg: $color-prim-white !default;

$dropdown__item-border-width: 1px !default;
$dropdown__item-border-width-last: 3px !default;
$dropdown__item-border-color: $color-prim-gray-silver !default;

$dropdown__link-bg--hover: $color-prim-gray-wild-sand !default;

$dropdown-is-open: 'is-dropdown-open' !default;
$dropdown-is-animating: 'is-dropdown-animating' !default;
