<axa-container>
  <h2>With Attributes</h2>

  <table is="axa-table"
    cap="Caption"
    cap-side="bottom"
    headings='["Nature", "Date", "Status", { "text": "Amount", "align": "right", "sort": "down" }]'
    items='[
      { "action": true, "cells": [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Received", "float": "right", "state": "ok" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }]},
      [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Pending", "float": "right", "state": "pending" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }],
      { "cells": [{ "text": "New deposit N.O929lO8", "strong": true, "action": true }, "July, 22th 2018", { "text": "Refused", "float": "right", "state": "error" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }]},
      [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Unknown", "float": "right", "state": "unknown" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }]
    ]'
    footers='[
      { "cells": [{ "text": "Deposit Plan", "colspan": "3", "float": "left" }, { "text": "+ $ 1200 monthly", "align": "right", "float": "right" }] },
      [{ "text": "Withdrawal Plan", "colspan": "3", "float": "left" }, { "text": "- $ 1200 yearly", "align": "right", "float": "right" }]
    ]'
  ></table>

  <h2>With Children</h2>

  <table is="axa-table">
    <caption is="axa-caption">Caption</caption>
    <thead is="axa-thead">
      <tr is="axa-tr">
        <th is="axa-th">Nature</th>
        <th is="axa-th">Date</th>
        <th is="axa-th">Status</th>
        <th is="axa-th" align="right">Amount</th>
      </tr>
    </thead>
    <tbody is="axa-tbody">
      <tr is="axa-tr">
        <td is="axa-td">New deposit N.O929lO8</td>
        <td is="axa-td">July, 22th 2018</td>
        <td is="axa-td">Received</td>
        <td is="axa-td" align="right">1200</td>
      </tr>
      <tr is="axa-tr">
        <td is="axa-td">New deposit N.O929lO8</td>
        <td is="axa-td">July, 22th 2018</td>
        <td is="axa-td">Received</td>
        <td is="axa-td" align="right">1200</td>
      </tr>
      <tr is="axa-tr">
        <td is="axa-td">New deposit N.O929lO8</td>
        <td is="axa-td">July, 22th 2018</td>
        <td is="axa-td">Received</td>
        <td is="axa-td" align="right">1200</td>
      </tr>
    </tbody>
    <tfoot is="axa-tfoot">
      <tr is="axa-tr">
        <td is="axa-td" colspan="3">Deposit Plan</td>
        <td is="axa-td" align="right">+ $ 1'200 monthly</td>
      </tr>
      <tr is="axa-tr">
        <td is="axa-td" colspan="3">Withdrawal Plan</td>
        <td is="axa-td" align="right">- $ 1'200 yearly</td>
      </tr>
    </tfoot>
  </table>

  <h2>Native Markup</h2>

  <table is="axa-table" all action>
    <caption>Caption</caption>
    <thead>
      <tr>
        <th>Nature</th>
        <th>Date</th>
        <th>Status</th>
        <th class="u-align-right">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>New deposit N.O929lO8</td>
        <td>July, 22th 2018</td>
        <td>Received</td>
        <td class="u-align-right">1200</td>
      </tr>
      <tr>
        <td>New deposit N.O929lO8</td>
        <td>July, 22th 2018</td>
        <td>Received</td>
        <td class="u-align-right">1200</td>
      </tr>
      <tr>
        <td>New deposit N.O929lO8</td>
        <td>July, 22th 2018</td>
        <td>Received</td>
        <td class="u-align-right">1200</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Deposit Plan</td>
        <td class="u-align-right">+ $ 1'200 monthly</td>
      </tr>
      <tr>
        <td colspan="3">Withdrawal Plan</td>
        <td class="u-align-right">- $ 1'200 yearly</td>
      </tr>
    </tfoot>
  </table>
</axa-container>
