@import "./styles/table-mixins";
@import "../../styles/mixins/respond";
@import "../../styles/mixins/size";
@import "../../styles/mixins/triangle";
@import "../../styles/mixins/word-break";
@import "../../styles/typo/typo-mixins";
@import "../a-caption/styles/caption-placeholders";
@import "../a-td/styles/td-placeholders";
@import "../a-th/styles/th-placeholders";
@import "../m-tr/styles/tr-placeholders";
@import "../m-thead/styles/thead-placeholders";
@import "../m-tfoot/styles/tfoot-placeholders";
@import "./styles/table-placeholders";
@import "../../styles/trumps/align";

/// Class styles

.o-table {
  @extend %o-table;
}

.o-table__cell--float {
  @include table__cell--float();
}

/// Tag styles

.o-table--all {
  @extend %o-table;

  // caption
  caption {
    @extend %a-caption;
  }

  table {
    @extend %o-table;
  }

  // table cells
  td,
  th {
    @extend %a-td;
  }

  th {
    @extend %a-th;
  }

  // table row
  tr {
    @extend %m-tr;
  }

  // table sections
  thead {
    @extend %m-thead;

    tr {
      @extend %m-tr--head;
    }
  }

  tfoot {
    @extend %m-tfoot;

    td {
      @extend %a-td--foot;
    }

    tr {
      @extend %m-tr--foot;

      &:first-child > td {
        @extend %a-td--foot-first;
      }
    }
  }

  tbody {
    tr {}
  }
}

.o-table--caption-top {
  caption {
    @extend %a-caption--top;
  }
}

.o-table--caption-bottom {
  caption {
    @extend %a-caption--bottom;
  }
}

.o-table--dense {
  th,
  td {
    @extend %o-table--dense;
  }
}

.o-table--action {
  tbody > tr {
    @extend %m-tr--action;
  }
}


