<table is="axa-table">
  <caption is="axa-caption" align="left" side="top">Caption Left/Top</caption>

  <tr><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td></tr>
</table>

<table is="axa-table">
  <caption is="axa-caption" align="center" side="top">Caption Center/Top</caption>

  <tr><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td></tr>
</table>

<table is="axa-table">
  <caption is="axa-caption" align="right" side="top">Caption Right/Top</caption>

  <tr><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td></tr>
</table>

<table is="axa-table">
  <caption is="axa-caption" align="left" side="bottom">Caption Left/Bottom</caption>

  <tr><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td></tr>
</table>

<table is="axa-table">
  <caption is="axa-caption" align="center" side="bottom">Caption Center/Bottom</caption>

  <tr><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td></tr>
</table>

<table is="axa-table">
  <caption is="axa-caption" align="right" side="bottom">Caption Right/Bottom</caption>

  <tr><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td><td is="axa-td">Cell</td></tr>
</table>
