<axa-accordion-item icon="checkmark" header="Estate Protection Rider"
                    header-secondary="if both you and your spouse pass away, this rider provides your beneficiaries with an additional death benefit"
                    header-color="blue" multiple>
  <p>
    The rider can be invoked at the beginning of any policy month starting with the policy anniversary nearest the
    younger insured’s 75th birthday, but not before the 20th policy anniversary. Certain conditions must be met and
    other restrictions apply; please see the policy for more details.
  </p>
  <p>
    The rider can be invoked at the beginning of any policy month starting with the policy anniversary nearest the
    younger insured’s 75th birthday, but not before the 20th policy anniversary. Certain conditions must be met and
    other restrictions apply; please see the policy for more details.
  </p>
</axa-accordion-item>
<axa-accordion-item header="Estate Protection Rider"
                    header-secondary="if both you and your spouse pass away, this rider provides your beneficiaries with an additional death benefit"
                    header-color="blue" multiple>
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>
<axa-accordion-item header="Estate Protection Rider" header-color="blue" multiple>
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>


<axa-accordion-item icon="checkmark" header="Estate Protection Rider"
                    header-secondary="if both you and your spouse pass away, this rider provides your beneficiaries with an additional death benefit"
                    header-color="blue">
  <p>
    The rider can be invoked at the beginning of any policy month starting with the policy anniversary nearest the
    younger insured’s 75th birthday, but not before the 20th policy anniversary. Certain conditions must be met and
    other restrictions apply; please see the policy for more details.
  </p>
  <p>
    The rider can be invoked at the beginning of any policy month starting with the policy anniversary nearest the
    younger insured’s 75th birthday, but not before the 20th policy anniversary. Certain conditions must be met and
    other restrictions apply; please see the policy for more details.
  </p>
</axa-accordion-item>
<axa-accordion-item icon="checkmark" header="Estate Protection Rider"
                    header-secondary="if both you and your spouse pass away, this rider provides your beneficiaries with an additional death benefit"
                    header-color="blue">
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>
<axa-accordion-item icon="checkmark" header="Estate Protection Rider"
                    header-secondary="if both you and your spouse pass away, this rider provides your beneficiaries with an additional death benefit"
                    header-color="blue">
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>

<axa-accordion-item icon="checkmark" header="Estate Protection Rider" header-color="blue" multiple>
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>
<axa-accordion-item icon="search-left" header="Estate Protection Rider" header-color="blue" multiple>
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>
<axa-accordion-item header="Estate Protection Rider" header-color="blue" multiple>
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>
<axa-accordion-item header="Estate Protection Rider" multiple>
  <p>
    Please make sure you tell us about any accident you are involved in.
    If you have comprehensive car insurance, accidental damage to your car is covered – whoever caused it. Therefore, we
    can settle the claim for you, according to the terms of your policy.
    If you only have third party, fire and theft insurance, any accidental damage to your car is not covered by your
    policy – so we would not be able to repair your car. If you have legal cover, you may be able to use it to claim
    from the other driver.
    With AXA’s uninsured driver promise included in comprehensive car insurance, we’ll make sure that you get back any
    excess and keep your No Claims Discount (NCD) if your car is hit by an uninsured driver.
    You’ll need to provide the driver’s registration and the make and model of their car – as you would for any claim
    involving another vehicle.
    Once we’ve confirmed that the other driver was uninsured, and you weren’t to blame in any way, we’ll refund your
    excess payment and reinstate your NCD to what it was before the claim.
    We may even be able to do that as soon as you claim – so you may not need to pay any excess at all.
    For more information, please read your policy wording. Terms, conditions, exclusions and limitations apply.
  </p>
</axa-accordion-item>
