@import "../settings/colors";

$control-border-width: 1px !default;
$control-border-color: $color-prim-gray-silver !default;
$control-border-color--active: $color-axa-blue !default;
$control-border-color--error: $color-state-red-shy-tomato !default;
$control-icon-size: 18px !default;
$control-icon-inner-size: 8px !default;

$control-size: 40px !default;
$control-min-height: 20px !default;
