$form-group-margin-top: 20px !default;
$form-group-margin-top--mobile: 15px !default;

$form-group-label-margin--info: 8px !default;

$form-group-icon-size: 16px !default;

$form-group-info-content-padding: 20px !default;
$form-group-label-icon-wrapper-width: 100% !default;

$form-group-icon-button-margin: 0 !default;
$form-group-icon-button-margin-right: -1px !default;
$form-group-icon-button-padding: 0 !default;
