@import "../../styles/mixins/visual-hidden";
@import "../../styles/typo/typo-mixins";
@import "../../styles/settings/colors";
@import "../m-button/mixins/button";

.a-choice {
  position: relative;

  display: inline-flex;

  & + & {
    margin-left: 14px;
  }

  &:hover:not(.a-choice--disabled):not(.a-choice--error),
  &:active:not(.a-choice--disabled):not(.a-choice--error) {
    .a-choice__label {
      border-color: $color-axa-blue;
      color: $color-axa-blue;
      background-color: $color-bg--white;
    }
  }
}

.a-choice__label {
  @include button();
  @include typo-tag();

  margin: 0;

  color: $color-prim-gray-mine-shaft;

  border: 1px solid $color-prim-gray-silver;
  background-color: $color-prim-gray-wild-sand;
}

.a-choice--error {
  .a-choice__label {
    border-color: $color-state-red-shy-tomato;
  }
}

.a-choice__input {
  @include visual-hidden();

  &:checked + .a-choice__label {
    @include typo-tag(Bold);
    border-color: $color-axa-blue;
    color: $color-axa-blue;
    background-color: $color-bg--white;
  }

  &:disabled + .a-choice__label {
    cursor: default;
    color: $color-prim-gray-dusty;
    border-color: $color-prim-gray-silver;
  }
}
