.a-icon__svg {
  width: 30px;
  height: 30px;
}

.a-icon__svg--medium {
  width: 35px;
  height: 35px;
}

.a-icon__svg--small {
  width: 22px;
  height: 22px;
}

.a-icon__svg--smaller {
  width: 16px;
  height: 16px;
}

.a-icon__svg--tiny {
  width: 16px;
  height: 16px;
}
