@import "settings/header-top-content-bar";
@import "../../styles/typo/typo-mixins";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/respond";

.m-header-top-content-bar {
  display: block;

  padding-top: $header-top-content-bar-y-padding;
  padding-bottom: $header-top-content-bar-y-padding;

  color: $color-prim-white;

  .m-header-mobile & {
    padding-top: $header-top-content-bar-y-padding;
    padding-bottom: $header-top-content-bar-y-padding;
  }

  @include respond-up(sm) {
    padding-top: $header-top-content-bar-y-padding--sm;
    padding-bottom: $header-top-content-bar-y-padding--sm;
  }
}

.m-header-top-content-bar,
.m-header-top-content-bar--corporate {
  background: $color-sec-blue-teal;
}

.m-header-top-content-bar--commercial {
  background: $color-prim-blue-deep-sapphire;
}

.m-header-top-content-bar--warning {
  background: $color-state-red-shy-tomato;
}

.m-header-top-content-bar__box {
  @include make-container();
  @include make-container-max-widths();

  display: flex;

  flex-direction: column;
  align-items: center;

  .m-header-mobile & {
    flex-direction: column;
    align-items: center;
  }

  @include respond-up(sm) {
    flex-direction: row;
    justify-content: center;
  }
}

.m-header-top-content-bar__text {
  @include typo-legals();

  @include respond-up(xs) {
    margin-right: $header-top-content-bar__text-margin-right;
  }
}

.m-header-top-content-bar__button {
  margin-top: $header-top-content-bar__button-margin-top;

  .m-header-mobile & {
    margin-top: $header-top-content-bar__button-margin-top;
  }

  @include respond-up(sm) {
    margin-top: 0;
  }
}
