@import "../../styles/settings/colors";
@import "mixins/button";

// Buttons as specified at
// https://design.axa.com/web-guidelines/buttons-and-links

.m-button {
  @include button();
  @include button--fix-a-tag();
  @include button--color();
}

// a-icon__svg is needed as css ordering is not loaded in the right order
// I.e sizes in m-button__icon are overridden without this specifier.
// Relates and fixes gh #836
.m-button__icon,
.m-button__icon.a-icon__svg {
  @include button__icon();
}

.m-button__icon--only {
  @include button__icon--only();
}

.m-button__arrow {
  &,
  &.a-icon__svg {
    @include button__arrow();
    @include button__arrow-right();
  }
}

.m-button--red {
  @include button--color(red);
}

.m-button--white {
  @include button--color(white);
}

.m-button--ghost {
  @include button--ghost();

  &.m-button--red {
    @include button--ghost(red);
  }

  &.m-button--white {
    @include button--ghost(white);
  }
}

.m-button--gpu {
  @include button--gpu();
}

.m-button--motion {
  @include button--motion();
  @include button--motion-style();

  &.m-button--red {
    @include button--motion-style(red);
  }

  &.m-button--white {
    @include button--motion-style(white);
  }

  &.m-button--ghost {
    @include button--motion--ghost();
  }

  &:hover,
  &:active,
  &:focus {
    .m-button__arrow {
      @include button__arrow--motion();
    }
  }
}

.m-button--has-icon {
  @include button--has-icon();

  &:disabled,
  &[aria-disabled] {
    .m-button__icon {
      /* stylelint-disable declaration-no-important */
      color: $color-button-icon--disabled !important;
      border-left-color: $color-button-border--disabled !important;
      /* stylelint-enable declaration-no-important */
    }
  }
}

.m-button--only-icon {
  $color-button-icon--disabled: get-color($button-color, default, icon--disabled);

  @include button--only-icon();

  > .a-icon__root {
    display: block;
    line-height: 0;
  }

  &:disabled,
  &[aria-disabled] {
    /* stylelint-disable-next-line declaration-no-important */
    color: $color-button-icon--disabled !important;
  }
}

.m-button--arrow {
  $color-button-arrow--disabled: get-color($button-color, default, arrow--disabled);

  @include button--arrow-adjust();

  &:disabled,
  &[aria-disabled] {
    .m-button__arrow {
      /* stylelint-disable-next-line declaration-no-important */
      color: $color-button-arrow--disabled !important;
    }
  }
}

.m-button--x-pad-20 {
  $x-pad: 20px;

  @include button--x-padding($x-pad);

  &.m-button--arrow {
    @include button--arrow-adjust($x-pad);
  }

  .m-button__arrow {
    @include button__arrow-right($x-pad);
  }
}

.m-button--x-pad-40 {
  $x-pad: 40px;

  @include button--x-padding($x-pad);

  &.m-button--arrow {
    @include button--arrow-adjust($x-pad);
  }

  .m-button__arrow {
    @include button__arrow-right($x-pad);
  }
}

.m-button--sm {
  @include button--sm();

  .m-button__icon {
    @include button__icon--sm();
  }

  .m-button__icon--only {
    @include button__icon--only--sm();
  }

  &.m-button--has-icon {
    @include button--has-icon--sm();
  }
}

.m-button--lg {
  @include button--lg();

  &.m-button--arrow {
    @include button--arrow-adjust--lg();
  }

  .m-button__icon {
    @include button__icon--lg();
  }

  .m-button__icon--only {
    @include button__icon--only--lg();
  }

  .m-button__arrow {
    @include button__arrow--lg();
  }

  &.m-button--has-icon {
    @include button--has-icon--lg();
  }
}

.m-button[aria-disabled] {
  pointer-events: none;
}
