@import "../../styles/mixins/button-reset";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/respond";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";
@import "../m-header-meta/settings/header-meta";
@import "settings/header-others";

.m-header-others {
  @include make-gutter();

  display: block;
}

.m-header-others__list {
  @include unstyle-list();
  @include make-row();
}

.m-header-others__list-item {
  display: block;
  border-right: $header-others__list-item-border-x-width solid $header-others__list-item-border-x-color;

  &:first-child {
    border-left: $header-others__list-item-border-x-width solid $header-others__list-item-border-x-color;
  }
}

.m-header-others__list-link {
  @include word-break();
  @include typo-legals--semibold();

  display: block;

  padding: 10px $header-meta__link-x-padding;
  text-transform: uppercase;
  white-space: nowrap;

  color: $header-meta__link-color;

  &.is-header-others-active,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $header-meta__link-color--hover;
  }

  &.is-header-others-active {
    // firefox needs a bigger overlap
    $bottom: $header-meta-border-bottom-width + 1;

    margin-bottom: -$bottom;

    background: $header-meta__link-bg--hover;

    border-bottom: $bottom solid $header-meta__link-bg--hover;
  }
}
