@import '../../styles/mixins/respond';
@import '../../styles/mixins/button-reset';
@import '../../styles/settings/colors';

.m-modal {
  $integer-max-value: 2147483647;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $integer-max-value;

  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: $color-bg--white;

  @include respond-up(md) {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.m-modal--hidden {
  display: none;
}

.m-modal__content {
  position: relative;

  margin: auto;

  padding: 20px;
  width: 100%;
  min-height: 100%;
  max-width: 800px;
  background-color: $color-bg--white;

  text-align: center;

  @include respond-up(md) {
    margin-top: 20vh;
    width: 80vw;
    min-height: auto;
    border: 1px solid #888;
  }

  @include respond-up(lg) {
    margin-top: 20vh;
    min-height: auto;
    width: 70vw;
  }
}

.m-modal__close-button {
  position: absolute;
  right: 20px;
  color: $color-axa-blue;
}

.m-modal__close-button:hover,
.m-modal__close-button:focus {
  color: $color-button-bg--hover;
}

button.m-modal__close-button {
  @include button-reset();
  width: 30px;
  height: 30px;
}
