<div>
  <axa-button tag="button" size="sm">Small</axa-button>
  <axa-button tag="button">Default</axa-button>
  <axa-button tag="button" size="lg">Large</axa-button>

  <axa-button tag="button" color="red" size="sm">Small</axa-button>
  <axa-button tag="button" color="red">Default</axa-button>
  <axa-button tag="button" color="red" size="lg">Large</axa-button>
</div>

<div>
  <axa-button type="submit">Submit Type</axa-button>
  <axa-button type="reset">Reset Type</axa-button>
  <axa-button type="button">Button(Default) Type</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm">Small</axa-button>
  <axa-button tag="a">Default</axa-button>
  <axa-button tag="a" size="lg">Large</axa-button>

  <axa-button tag="a" color="red" size="sm">Small</axa-button>
  <axa-button tag="a" color="red">Default</axa-button>
  <axa-button tag="a" color="red" size="lg">Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" arrow>Small</axa-button>
  <axa-button tag="button" arrow>Default</axa-button>
  <axa-button tag="button" size="lg" arrow>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" arrow>Small</axa-button>
  <axa-button tag="button" color="red" arrow>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" arrow>Small</axa-button>
  <axa-button tag="a" arrow>Default</axa-button>
  <axa-button tag="a" size="lg" arrow>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" arrow>Small</axa-button>
  <axa-button tag="a" color="red" arrow>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" motion>Small</axa-button>
  <axa-button tag="button" motion>Default</axa-button>
  <axa-button tag="button" size="lg" motion>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" motion>Small</axa-button>
  <axa-button tag="button" color="red" motion>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" motion>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" motion>Small</axa-button>
  <axa-button tag="a" motion>Default</axa-button>
  <axa-button tag="a" size="lg" motion>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" motion>Small</axa-button>
  <axa-button tag="a" color="red" motion>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" motion>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" motion arrow>Small</axa-button>
  <axa-button tag="button" motion arrow>Default</axa-button>
  <axa-button tag="button" size="lg" motion arrow>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" motion arrow>Small</axa-button>
  <axa-button tag="button" color="red" motion arrow>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" motion arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" motion arrow>Small</axa-button>
  <axa-button tag="a" motion arrow>Default</axa-button>
  <axa-button tag="a" size="lg" motion arrow>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" motion arrow>Small</axa-button>
  <axa-button tag="a" color="red" motion arrow>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" motion arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" motion icon="twitter">Small</axa-button>
  <axa-button tag="a" size="sm" motion icon="twitter"></axa-button>
  <axa-button tag="a" motion icon="more">Default</axa-button>
  <axa-button tag="a" motion icon="more"></axa-button>
  <axa-button tag="a" size="lg" motion icon="facebook">Large</axa-button>
  <axa-button tag="a" size="lg" motion icon="facebook"></axa-button>

  <axa-button tag="a" color="red" size="sm" motion icon="linkedin">Small</axa-button>
  <axa-button tag="a" color="red" size="sm" motion icon="linkedin"></axa-button>
  <axa-button tag="a" color="red" motion icon="twitter">Default</axa-button>
  <axa-button tag="a" color="red" motion icon="twitter"></axa-button>
  <axa-button tag="a" color="red" size="lg" motion icon="add">Large</axa-button>
  <axa-button tag="a" color="red" size="lg" motion icon="add"></axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" ghost>Small</axa-button>
  <axa-button tag="button" ghost>Default</axa-button>
  <axa-button tag="button" size="lg" ghost>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" ghost>Small</axa-button>
  <axa-button tag="button" color="red" ghost>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" ghost>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" ghost>Small</axa-button>
  <axa-button tag="a" ghost>Default</axa-button>
  <axa-button tag="a" size="lg" ghost>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" ghost>Small</axa-button>
  <axa-button tag="a" color="red" ghost>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" ghost arrow>Small</axa-button>
  <axa-button tag="button" ghost arrow>Default</axa-button>
  <axa-button tag="button" size="lg" ghost arrow>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" ghost arrow>Small</axa-button>
  <axa-button tag="button" color="red" ghost arrow>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" ghost arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" ghost arrow>Small</axa-button>
  <axa-button tag="a" ghost arrow>Default</axa-button>
  <axa-button tag="a" size="lg" ghost arrow>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" ghost arrow>Small</axa-button>
  <axa-button tag="a" color="red" ghost arrow>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" ghost motion>Small</axa-button>
  <axa-button tag="button" ghost motion>Default</axa-button>
  <axa-button tag="button" size="lg" ghost motion>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" ghost motion>Small</axa-button>
  <axa-button tag="button" color="red" ghost motion>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" ghost motion>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" ghost motion>Small</axa-button>
  <axa-button tag="a" ghost motion>Default</axa-button>
  <axa-button tag="a" size="lg" ghost motion>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" ghost motion>Small</axa-button>
  <axa-button tag="a" color="red" ghost motion>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost motion>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" ghost motion arrow>Small</axa-button>
  <axa-button tag="button" ghost motion arrow>Default</axa-button>
  <axa-button tag="button" size="lg" ghost motion arrow>Large</axa-button>

  <axa-button tag="button" color="red" size="sm" ghost motion arrow>Small</axa-button>
  <axa-button tag="button" color="red" ghost motion arrow>Default</axa-button>
  <axa-button tag="button" color="red" size="lg" ghost motion arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" ghost motion arrow>Small</axa-button>
  <axa-button tag="a" ghost motion arrow>Default</axa-button>
  <axa-button tag="a" size="lg" ghost motion arrow>Large</axa-button>

  <axa-button tag="a" color="red" size="sm" ghost motion arrow>Small</axa-button>
  <axa-button tag="a" color="red" ghost motion arrow>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost motion arrow>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" ghost motion icon="facebook">Small</axa-button>
  <axa-button tag="a" ghost motion icon="facebook">Default</axa-button>
  <axa-button tag="a" size="lg" ghost motion icon="facebook">Large</axa-button>

  <axa-button tag="a" color="red" size="sm" ghost motion icon="facebook">Small</axa-button>
  <axa-button tag="a" color="red" ghost motion icon="facebook">Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost motion icon="facebook">Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="sm" ghost motion icon="facebook"></axa-button>
  <axa-button tag="a" ghost motion icon="facebook"></axa-button>
  <axa-button tag="a" size="lg" ghost motion icon="facebook"></axa-button>

  <axa-button tag="a" color="red" size="sm" ghost motion icon="facebook"></axa-button>
  <axa-button tag="a" color="red" ghost motion icon="facebook"></axa-button>
  <axa-button tag="a" color="red" size="lg" ghost motion icon="facebook"></axa-button>
</div>

<div style="margin-top: 8px; padding: 8px 0; background: #3b3fd8;">
  <axa-button tag="button" color="white" size="sm" ghost>Small</axa-button>
  <axa-button tag="button" color="white" ghost>Default</axa-button>
  <axa-button tag="button" color="white" size="lg" ghost>Large</axa-button>

  <axa-button tag="a" color="white" size="sm" ghost>Small</axa-button>
  <axa-button tag="a" color="white" ghost>Default</axa-button>
  <axa-button tag="a" color="white" size="lg" ghost>Large</axa-button>
</div>

<div style="padding: 8px 0; background: #3b3fd8;">
  <axa-button tag="button" color="white" size="sm" ghost motion>Small</axa-button>
  <axa-button tag="button" color="white" ghost motion>Default</axa-button>
  <axa-button tag="button" color="white" size="lg" ghost motion>Large</axa-button>

  <axa-button tag="a" color="white" size="sm" ghost motion>Small</axa-button>
  <axa-button tag="a" color="white" ghost motion>Default</axa-button>
  <axa-button tag="a" color="white" size="lg" ghost motion>Large</axa-button>
</div>

<div style="padding: 8px 0; background: #3b3fd8;">
  <axa-button tag="button" color="white" size="sm" ghost motion arrow>Small</axa-button>
  <axa-button tag="button" color="white" ghost motion arrow>Default</axa-button>
  <axa-button tag="button" color="white" size="lg" ghost motion arrow>Large</axa-button>

  <axa-button tag="a" color="white" size="sm" ghost motion arrow>Small</axa-button>
  <axa-button tag="a" color="white" ghost motion arrow>Default</axa-button>
  <axa-button tag="a" color="white" size="lg" ghost motion arrow>Large</axa-button>
</div>

<div style="padding: 8px 0; background: #3b3fd8;">
  <axa-button tag="button" color="white" size="sm" ghost motion icon="facebook">Small</axa-button>
  <axa-button tag="button" color="white" ghost motion icon="twitter">Default</axa-button>
  <axa-button tag="button" color="white" size="lg" ghost motion icon="linkedin">Large</axa-button>
  <axa-button tag="button" color="white" size="lg" ghost motion icon="facebook" href="https://google.ch/" target="_blank">Large</axa-button>

  <axa-button tag="a" color="white" size="sm" ghost motion icon="linkedin">Small</axa-button>
  <axa-button tag="a" color="white" ghost motion icon="twitter">Default</axa-button>
  <axa-button tag="a" color="white" size="lg" ghost motion icon="facebook">Large</axa-button>
  <axa-button tag="a" color="white" size="sm" ghost motion icon="twitter" href="https://google.ch/" target="_blank">Large</axa-button>
</div>


<div style="padding: 8px 0; background: #3b3fd8;">
  <axa-button tag="button" color="white" size="sm" ghost motion icon="facebook"></axa-button>
  <axa-button tag="button" color="white" ghost motion icon="twitter"></axa-button>
  <axa-button tag="button" color="white" size="lg" ghost motion icon="linkedin"></axa-button>
  <axa-button tag="button" color="white" size="lg" ghost motion icon="facebook" href="https://google.ch/" target="_blank"></axa-button>

  <axa-button tag="a" color="white" size="sm" ghost motion icon="linkedin"></axa-button>
  <axa-button tag="a" color="white" ghost motion icon="twitter"></axa-button>
  <axa-button tag="a" color="white" size="lg" ghost motion icon="facebook"></axa-button>
  <axa-button tag="a" color="white" size="sm" ghost motion icon="twitter" href="https://google.ch/" target="_blank"></axa-button>
</div>

<div style="padding: 8px 0; background: #3b3fd8;">
  <axa-button tag="button" color="white" size="lg" ghost motion icon="facebook" disabled>Large</axa-button>
  <axa-button tag="button" color="white" size="md" ghost motion icon="facebook" disabled></axa-button>
  <axa-button tag="a" color="white" size="sm" ghost motion icon="twitter" disabled>Large</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="a" size="lg" href="https://google.ch/" target="_blank">Large</axa-button>
  <axa-button tag="button" size="sm" href="https://google.ch/" target="_blank">Large Button</axa-button>
  <axa-button tag="a" size="lg" href="https://google.ch/" target="_blank">Large Link</axa-button>
  <axa-button tag="button" color="red" size="sm" ghost motion href="https://google.ch/" target="_blank">Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost motion href="https://google.ch/" target="_blank">Default</axa-button>
  <axa-button tag="button" color="red" size="sm" ghost motion arrow href="https://google.ch/" target="_blank">Default</axa-button>
  <axa-button tag="a" color="red" size="sm" ghost motion arrow href="https://google.ch/" target="_blank">Default</axa-button>
</div>

<div style="margin-top: 8px;">
  <axa-button tag="button" size="sm" disabled>Large Button</axa-button>
  <axa-button tag="a" size="lg" disabled>Large Link</axa-button>
  <axa-button tag="button" color="red" size="sm" ghost motion disabled>Default</axa-button>
  <axa-button tag="a" color="red" size="lg" ghost motion disabled>Default</axa-button>
  <axa-button tag="button" color="red" size="sm" ghost motion arrow disabled>Default</axa-button>
  <axa-button tag="button" color="red" size="sm" motion arrow disabled>Default</axa-button>
  <axa-button tag="a" color="red" size="sm" ghost motion arrow disabled>Default</axa-button>
</div>
