@import "../../styles/settings/colors";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/word-break";

$policy-feature-item-icon-height-sm: 42px;
$policy-feature-item-icon-height-md: 96px;
$policy-feature-item-margin-50: 50px;
$policy-feature-item-content-width-sm: 240px;
$policy-feature-item-content-width-md: 210px;
$policy-feature-item-content-width-lg: 255px;

.m-policy-feature-item {
  display: block;
}

.m-policy-feature-item__icon {
  height: $policy-feature-item-icon-height-sm;
  display: block;
  margin: $policy-feature-item-margin-50 auto 0 auto;
  max-width: 100%;
  color: $color-prim-white;

  @include respond-up(md) {
    height: $policy-feature-item-icon-height-md;
  }
}

.m-policy-feature-item__title {
  @include word-break();
  @include typo-text-longer--bold();
  text-align: center;
}

.m-policy-feature-item__description {
  @include word-break();
  @include typo-secondary-text();
  text-align: center;
}

.m-policy-feature-item__content {
  margin: auto;

  @include respond-up(sm) {
    width: $policy-feature-item-content-width-sm;
  }

  @include respond-up(md) {
    width: $policy-feature-item-content-width-md;
  }

  @include respond-up(lg) {
    width: $policy-feature-item-content-width-lg;
  }
}
