<table is="axa-table">
  <tbody is="axa-tbody"
         items='[
      { "action": true, "cells": [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Received", "float": "right", "state": "ok" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }]},
      [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Pending", "float": "right", "state": "pending" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }],
      { "cells": [{ "text": "New deposit N.O929lO8", "strong": true, "action": true }, "July, 22th 2018", { "text": "Refused", "float": "right", "state": "error" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }]},
      [{ "text": "New deposit N.O929lO8", "strong": true }, "July, 22th 2018", { "text": "Unknown", "float": "right", "state": "unknown" }, { "text": "1200", "bold": true, "align": "right", "float": "left" }]
    ]'></tbody>
</table>

<table is="axa-table">
  <tbody is="axa-tbody">
    <tr is="axa-tr" action="action">
      <td is="axa-td" strong="strong">New deposit N.O929lO8</td>
      <td is="axa-td">July, 22th 2018</td>
      <td is="axa-td" float="right" state="ok">Received</td>
      <td is="axa-td" bold="bold" align="right" float="left">1200</td>
    </tr>
    <tr is="axa-tr">
      <td is="axa-td" strong="strong">New deposit N.O929lO8</td>
      <td is="axa-td">July, 22th 2018</td>
      <td is="axa-td" float="right" state="pending">Pending</td>
      <td is="axa-td" bold="bold" align="right" float="left">1200</td>
    </tr>
    <tr is="axa-tr">
      <td is="axa-td" strong="strong" action="action">New deposit N.O929lO8</td>
      <td is="axa-td">July, 22th 2018</td>
      <td is="axa-td" float="right" state="error">Refused</td>
      <td is="axa-td" bold="bold" align="right" float="left">1200</td>
    </tr>
    <tr is="axa-tr">
      <td is="axa-td" strong="strong">New deposit N.O929lO8</td>
      <td is="axa-td">July, 22th 2018</td>
      <td is="axa-td" float="right" state="unknown">Unknown</td>
      <td is="axa-td" bold="bold" align="right" float="left">1200</td>
    </tr>
  </tbody>
</table>
