<table is="axa-table">
  <tr>
    <td is="axa-td">Cell</td>
    <td is="axa-td" strong>Strong</td>
    <td is="axa-td" bold>Bold</td>
    <td is="axa-td" action>Action</td>
    <td is="axa-td" align="left">Left</td>
    <td is="axa-td" align="center">Center</td>
    <td is="axa-td" align="right">Right</td>
  </tr>
  <tr>
    <td is="axa-td" dense>Dense</td>
    <td is="axa-td" dense strong>Strong</td>
    <td is="axa-td" dense bold>Bold</td>
    <td is="axa-td" dense action>Action</td>
    <td is="axa-td" dense align="left">Left</td>
    <td is="axa-td" dense align="center">Center</td>
    <td is="axa-td" dense align="right">Right</td>
  </tr>
  <tr>
    <td is="axa-td">Mobile float</td>
    <td is="axa-td" strong>Strong</td>
    <td is="axa-td" float="left" bold>Bold</td>
    <td is="axa-td" float="right" action>Action</td>
    <td is="axa-td" align="left">Left</td>
    <td is="axa-td" float="right" align="center">Center</td>
    <td is="axa-td" float="left" align="right">Right</td>
  </tr>
  <tr>
    <td is="axa-td" state="ok">Ok</td>
    <td is="axa-td" state="pending">Pending</td>
    <td is="axa-td" state="error">Error</td>
    <td is="axa-td" state="unknown" colspan="4">Unknown</td>
  </tr>
</table>
