@import "../o-table/styles/table-mixins";
@import "styles/td-placeholders";

@import "../../styles/trumps/align";

/// Class styles

.a-td {
  @extend %a-td;
}

.a-td--dense {
  @include table__cell--dense();
}

.a-td--strong {
  @include td--strong();
}

.a-td--bold {
  @include td--bold();
}

.a-td--foot {
  @extend %a-td--foot;

  .o-table__row--foot:first-child > & {
    @extend %a-td--foot-first;
  }
}

.a-td--action {
  @include td--action();
}

.a-td--state-ok {
  @include td--state-ok();

  @extend %a-td--state;
}

.a-td--state-pending {
  @include td--state-pending();

  @extend %a-td--state;
}

.a-td--state-error {
  @include td--state-error();

  @extend %a-td--state;
}

.a-td--state-unknown {
  @include td--state-unknown();

  @extend %a-td--state;
}
