<axa-input value="Pre-filled content" name="test-name"></axa-input>
<axa-input value="Pre-filled content" name="test-name" inline></axa-input>
<axa-input value="Pre-filled content" name="test-name" inline></axa-input>
<axa-input value="Pre-filled content" name="test-name" inline></axa-input>
<axa-input value="Pre-filled content - Disabled" name="test-name" disabled></axa-input>
<axa-input value="Pre-filled content - Error" name="test-name" error></axa-input>
<axa-input placeholder="Pre-filled content" name="test-name"></axa-input>
<axa-input value="Pre-filled content" name="test-name" valid></axa-input>
<axa-input value="Pre-filled content" name="test-name" valid inline></axa-input>
<axa-input value="Pre-filled content" name="test-name" valid inline></axa-input>
<axa-input value="Pre-filled content" name="test-name" valid inline></axa-input>
<axa-input placeholder="Pre-filled content - Disabled paste" disable-paste name="test-name"></axa-input>
<axa-input value="Pre-filled content - Read Only" name="test-name" readonly></axa-input>
