/// Get the `index of a mapped item by it's key.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {number|null} - Returns the related `index` or `null.
@function map-index-by-key($map, $key) {
  @if type_of($map) == map and map_has_key($map, $key) {
    $value: map_get($map, $key);
    $index: index(($map), ($key $value));

    @return $index;
  }

  @return null;
}

/// Get the previous item within a map.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {list|null} - Returns the previous item represent as a list of `(key value)` or `null`.
@function map-previous($map, $key) {
  @if type_of($map) == map {
    $index: map-index-by-key($map, $key);

    @if type_of($index) == number and $index > 1 {
      @return nth($map, $index - 1);
    }
  }

  @return null;
}

/// Get the previous `key` within a map.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {any|null} - Returns the previous `key` or `null`.
@function map-previous-key($map, $key) {
  $list: map-previous($map, $key);

  @if type_of($list) == list {
    @return nth($list, 1);
  }

  @return null;
}

/// Get the previous `value` within a map.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {any|null} - Returns the previous `value` or `null`.
@function map-previous-value($map, $key) {
  $list: map-previous($map, $key);

  @if type_of($list) == list {
    @return nth($list, 2);
  }

  @return null;
}

/// Get the next item within a map.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {list|null} - Returns the next item represent as a list of `(key value)` or `null`.
@function map-next($map, $key) {
  @if type_of($map) == map {
    $index: map-index-by-key($map, $key);

    @if type_of($index) == number and $index < length($map) {
      @return nth($map, $index + 1);
    }
  }

  @return null;
}

/// Get the next `key` within a map.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {any|null} - Returns the next `key` or `null`.
@function map-next-key($map, $key) {
  $list: map-next($map, $key);

  @if type_of($list) == list {
    @return nth($list, 1);
  }

  @return null;
}

/// Get the next `value` within a map.
/// @param {Map} $map - Any SCSS Map.
/// @param {any} $key - The key of the item.
/// @returns {any|null} - Returns the next `value` or `null`.
@function map-next-value($map, $key) {
  $list: map-next($map, $key);

  @if type_of($list) == list {
    @return nth($list, 2);
  }

  @return null;
}
