/// Decrement responsive breakpoint values by `1px` or `0.01em/rem` for media query rules.
/// @param {number} $value - The breakpoint to decrement for media queries.
@function max-width($value) {
  $value-type: type_of($value);

  @if $value-type != number {
    // @warn "Expected $value #{$value} [#{$value-type}] to be of type Number.";

    // node-sass has a --quiet flag but it's not respected (all scss @warn statements like the one above are still printed)
    // bug?
    @return $value;
  }

  $unit: unit($value);

  @if ($unit == 'px') {
    $value: $value - 1px;
  } @else if($unit == 'em') {
    $value: $value - 0.01em;
  } @else if($unit == 'rem') {
    $value: $value - 0.01rem;
  }

  @return $value;
}
