@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/force-ios-click";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/typo/typo-mixins";
@import "settings/header-mobile-others";

.m-header-mobile-others {
  display: block;

  background: $header-mobile-others__nav-bg;
  text-align: left;
}

.m-header-mobile-others__list {
  @include unstyle-list();
}

.m-header-mobile-others__list-item {
  display: block;

  border-top: $header-mobile-others__list-item-border-top-width solid $header-mobile-others__list-item-border-top-color;

  &:first-child {
    border-top: none;
  }
}

.m-header-mobile-others__link {
  @include typo-secondary-text--semibold();
  @include force-ios-click();

  display: block;

  padding: $header-mobile-others__link-y-padding $header-mobile-others__link-x-padding;

  color: $header-mobile-others__link-color;
  text-transform: uppercase;

  &.is-header-mobile-others-active,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $header-mobile-others__link-color--hover;
  }
}
