@import "styles/caption-placeholders";

@import "../../styles/trumps/align";

/// Class Styles

.a-caption {
  @extend %a-caption;
}

.a-caption--top {
  @extend %a-caption--top;
}

.a-caption--bottom {
  @extend %a-caption--bottom;
}
