@import "../styles/settings/colors";
@import "../styles/mixins/respond";
@import "../styles/grid/grid-mixins";

$sg-patternlink-y-padding: 6px !default;
$sg-patternlink-padding-side: 20px !default;
$sg-patternlink-border-side-width: 1px !default;
$sg-patternlink-border-side-color: $color-prim-gray-silver !default;
$sg-patternlink-margin-side: 20px !default;
$sg-main-title-size: 45px;

$sg-white: $color-prim-white;
$bg-button: $color-axa-blue;

$sg-black-syntaxhighlighter: #000;

$sg-paddings-page: 3%;

$sg-margin-tops: 30px;

$sg-small-margin: 10px;
$sg-big-margin: 80px;
$sg-margin: 20px;

$sg-min-height: 50px;

$sg-gutter-size: 15px;

body {
  height: 100vh;
  background: $sg-white;
}

.o-sg-section {
  &:last-child {
    margin-bottom: 20%;
  }
}

.o-sg-section--padded {
  margin: $sg-big-margin $sg-paddings-page $sg-margin-tops;
}

.o-sg-section__section {
  min-height: $sg-min-height;
}

.o-sg-section__section--title {
  margin: $sg-small-margin $sg-paddings-page $sg-margin-tops;
}

.o-sg-section__section--buttons {
  margin: $sg-margin-tops $sg-paddings-page 0;

  padding: $sg-small-margin;

  background-color: $color-prim-gray-mine-shaft;

  text-align: center;

  > :first-child {
    float: left;
  }
}

.o-sg-section__section__title {
  font-size: $sg-main-title-size;
}

.o-sg-section__section__title--text {
  text-transform: capitalize;
}

.o-sg-section__section--src {
  @include make-gutter(6%);

  display: none;
  margin: 0 auto;

  .syntaxhighlighter {
    margin-top: 0;
    padding: $sg-small-margin;
    background-color: $sg-black-syntaxhighlighter;
  }

  .syntaxhighlighter {
    .line {
      background-color: $sg-black-syntaxhighlighter;

      &.alt1,
      &.alt2 {
        background-color: $sg-black-syntaxhighlighter;
      }
    }
  }
}

.o-sg-section__button {
  border: 1px solid $color-prim-gray-dusty;
  cursor: pointer;
  background-color: $bg-button;
  color: $sg-white;
}

.o-sg-patternlink {
  display: block;
  padding: 0 0 $sg-patternlink-y-padding $sg-patternlink-padding-side;
  margin-left: $sg-patternlink-margin-side;

  border-left: $sg-patternlink-border-side-width solid $sg-patternlink-border-side-color;

  @include respond-down(md) {
    padding-left: 0;
    padding-right: $sg-patternlink-padding-side;
    margin-left: auto;

    border-left: none;
    border-right: $sg-patternlink-border-side-width solid $sg-patternlink-border-side-color;
  }
}

.o-sg-header__buttons {
  padding: $sg-small-margin $sg-margin $sg-margin;
  background-color: $color-prim-gray-alabaster;

  .o-sg-section__atomic-category {
    display: none;
    margin-right: $sg-small-margin;
    margin-top: $sg-small-margin;

    &.o-sg-section--visible {
      display: inline-block;
    }
  }
}

.o-sg-section__section--visible {
  display: block;
}

// TODO remove once Webpack build with templates is done and therefore is easier to to modulo on columns
$colorlist:
  $color-prim-blue-deep-sapphire,
  $color-prim-blue-st-tropaz,
  $color-prim-blue-azure,
  $color-prim-blue-dark-indigo,
  $color-prim-blue-indigo,
  $color-prim-red-flamingo,
  $color-prim-red-burnt-sienna,
  $color-prim-black,
  $color-prim-gray-mine-shaft,
  $color-prim-gray-scorpion,
  $color-prim-gray,
  $color-prim-gray-dusty,
  $color-prim-gray-silver,
  $color-prim-gray-mercury,
  $color-prim-gray-wild-sand,
  $color-prim-gray-alabaster,
  $color-prim-white,
  $color-sec-blue-igloo,
  $color-sec-pink-cotton-candy,
  $color-sec-pink-azalea,
  $color-sec-green-aqua,
  $color-sec-blue-logan,
  $color-sec-green-greyjoy,
  $color-sec-green-viridian,
  $color-sec-blue-pacific,
  $color-sec-blue-teal,
  $color-sec-green-acid,
  $color-sec-orange-dune,
  $color-sec-orange-apache,
  $color-sec-red-tosca;

.sg-header {
  .m-header-sub-navigation__list {
    margin-top: 0;
  }

  .m-header-sub-navigation__block {
    /* stylelint-disable-next-line declaration-no-important */
    padding-top: 0 !important;

    @each $current-color in $colorlist {
      $i: index($colorlist, $current-color);

      &:nth-child(#{$i}n) {
        &::before {
          position: absolute;

          display: block;

          margin-left: -20px;
          margin-top: 11px;
          width: 10px;
          height: 10px;
          content: ' ';
          background-color: nth($colorlist, random(length($colorlist)));

          border: 1px solid $color-prim-gray-wild-sand;
        }
      }
    }
  }
}
