@import "../settings/dropdown";
@import "../../../styles/mixins/force-ios-click";
@import "../../../styles/mixins/hardware-accelerate";
@import "../../../styles/mixins/icon";
@import "../../../styles/mixins/target";

@mixin dropdown-container() {
  position: relative;
}

@mixin dropdown-frame($icon-class: 'm-dropdown__icon') {
  $padding-right: ($dropdown__icon-size + $dropdown__icon-gap + $dropdown__frame-x-padding);

  padding: $dropdown__frame-y-padding $padding-right $dropdown__frame-y-padding $dropdown__frame-x-padding;

  background: $dropdown__frame-bg;
  border: $dropdown__frame-border-width solid $dropdown__frame-border-color;
  color: $dropdown__frame-color;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border-color: $dropdown__frame-color--hover;

    .#{$icon-class} {
      color: $dropdown__frame-color--hover;
    }
  }
}

@mixin dropdown-select-wrap() {
  position: relative;

  display: block;
  width: 100%;

  /* undo padding frame padding */
  padding: 0;
  overflow: hidden;

  cursor: pointer;
}

@mixin normalize-native-select-styles() {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background: transparent;
  border: none;
  color: inherit;

  /* disable outline styles */
  &:active,
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  /* fix firefox focus stuff */
  /* stylelint-disable plugin/selector-bem-pattern */
  &::-moz-focus-inner,
  option::-moz-focus-inner {
    border: none;
    box-shadow: none;
    outline: none;
  }
  /* stylelint-enable */

  /* fix ugly blue screen at focused option value in IE */
  &:focus::-ms-value {
    color: inherit;

    background: transparent;
  }

  /* fix native select arrows on IE */
  &::-ms-expand {
    display: none;
  }
}

@mixin dropdown-select($icon-class: 'm-dropdown__icon', $height: $dropdown__select-height, $indent: $dropdown__select-indent) {
  @include normalize-native-select-styles();
  display: block;
  box-sizing: border-box;

  /* important: fake it to have 0 width */
  float: left;

  /* overflow is indented to fix browser who don't support hiding the native arrow */
  width: 120%;
  height: $height;
  padding: 0;
  margin-right: -120%;

  line-height: $height; /* not ideal, firefox is buggy here - see fix at the bottom */
  text-indent: $indent;	/* not ideal, firefox is buggy here - see fix at the bottom */
  vertical-align: middle;
  cursor: pointer;

  &:focus {
    color: $dropdown__frame-color;

    + .#{$icon-class} {
      color: $dropdown__frame-color--hover;
    }
  }

  @include target(ie) {
    /* fix IE not adhering to `text-indent` rules at <select> tags */
    padding-left: $indent;
  }

  @include target(moz) {
    /* Fix Firefox doubles text-indent value */
    text-indent: ($indent / 2);

    /* fix firefox dotted border on focused selects */
    &:focus {
      color: transparent;
      text-shadow: 0 0 0 $dropdown__frame-color--hover;
    }
  }
}

@mixin dropdown-select-icon($icon-class: 'm-dropdown__icon', $height: $dropdown__select-height, $indent: $dropdown__select-indent) {
  display: block;
  float: right;
  height: $height;
  padding: 0 $indent;
  margin-left: $indent;

  pointer-events: none;

  background: $dropdown__frame-bg;

  /* fix missing height of wrapping root node of <axa-icon> */
  > * {
    display: block;
    height: 100%;
  }

  .#{$icon-class} {
    position: relative;
    right: auto;
  }

  @include target(moz) {
    /* Fix Firefox doubles text-indent value */
    margin-left: ($indent / 2);
  }
}

@mixin dropdown-toggle() {
  @include force-ios-click();

  position: relative;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }
}

@mixin dropdown-icon($size: $dropdown__icon-size, $right: $dropdown__frame-x-padding, $color: $dropdown__icon-color, $is-open-class: $dropdown-is-open) {
  //  Chrome has an issue
  @include icon($size);

  position: absolute;
  top: 50%;
  right: $right;

  margin-top: -($size / 2);

  color: $color;
  transition: transform 0.3s ease;

  .#{$is-open-class} & {
    transform: rotate(180deg);
  }
}

@mixin dropdown-icon--gpu($is-animating-class: $dropdown-is-animating) {
  @at-root .#{$is-animating-class}#{&} {
    @include hardware-accelerate();
  }
}

@mixin dropdown-content($zindex: $zindex-dropdown, $is-open-class: $dropdown-is-open) {
  position: absolute;
  top: 100%;
  z-index: $zindex;

  height: 0;
  min-width: 100%;
  overflow: hidden;

  transition: height 0.3s ease;

  .#{$is-open-class} & {
    height: auto;
  }
}

@mixin dropdown-content--gpu($is-animating-class: $dropdown-is-animating) {
  @at-root .#{$is-animating-class}#{&} {
    @include hardware-accelerate();
  }
}

@mixin dropdown-inflow() {
  position: static;
}

@mixin dropdown--sm($line-height: false) {
  height: $dropdown__select-height-sm;

  @if $line-height {
    line-height: $dropdown__select-height-sm;
  }
}

@mixin dropdown-toggle--sm() {
  $padding-right: ($dropdown__icon-size + $dropdown__icon-gap + $dropdown__frame-x-padding);

  @include dropdown--sm();
  padding: $dropdown__frame-y-padding-sm $padding-right $dropdown__frame-y-padding-sm $dropdown__frame-x-padding;
}
