@import "settings/header-burger";
@import "../../styles/mixins/button-reset";
@import "../../styles/mixins/force-ios-click";
@import "../../styles/mixins/icon";
@import "../../styles/mixins/respond";

.m-header-burger {
  display: block;

  @include respond-down(md) {
    margin-left: auto;

    .m-header-search + & {
      margin-left: 0;
    }
  }
}

.m-header-burger__button {
  @include button-reset();
  @include force-ios-click();

  display: none;

  margin-left: $header-burger-margin-left;

  color: $header-burger-color;

  @include respond-down(md) {
    display: block;
  }
}

.m-header-burger__icon {
  @include icon($header-burger__icon-size);

  .is-burger-open & {
    display: none;
  }
}

.m-header-burger__close-icon {
  @include icon($header-burger__icon-size);

  display: none;

  .is-burger-open & {
    display: block;
  }
}
