<axa-choice
  name="test-choice"
  value="value-1"
>
  MRS
</axa-choice>
<axa-choice
  name="test-choice"
  value="value-2"
>
  MRS
</axa-choice>
<axa-choice
  name="test-choice"
  value="value-3"
  checked
>
  Miss
</axa-choice>
<axa-choice
  name="test-choice"
  value="value-4"
  disabled
>
  Miss
</axa-choice>
<axa-choice
  name="test-choice"
  value="value-5"
  error
>
  Miss
</axa-choice>
