@import "mixins/link";

.m-link {
  @include link();
  @include link-color();
}

.m-link--deco {
  @include link-deco();
}

.m-link--red {
  @include link-color(red);
}

.m-link--white {
  @include link-color(white);
}

.m-link--icon,
.m-link--arrow,
.m-link--listed {
  @include link-icon();
}

.m-link--email {
  @include link-icon--mailto();
}


.m-link--arrow {
  @include link-icon--adjust();
}

.m-link--icon,
.m-link--listed {
  @include link-icon--adjust($side: left);
}

// temp fix coz of wrong css include order (atoms should be included before molecules and organisms
.m-link__icon.a-icon__svg,
.m-link__arrow.a-icon__svg,
.m-link__listed.a-icon__svg {
  @include link__icon();
}

.m-link__icon,
.m-link__listed {
  @include link__icon--adjust($side: left);
}

.m-link__icon {
  @include link__icon--top();
}

.m-link__arrow {
  @include link__icon--middle();
  @include link__icon--adjust();
}

.m-link__listed {
  @include link__icon--middle();
}

.m-link--motion {
  &:hover,
  &:active,
  &:focus {
    .m-link__arrow,
    .m-link__listed {
      @include link__arrow--motion();
    }
  }
}
