@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/respond";
@import "settings/header-meta";

.m-header-meta {
  display: block;

  background: $header-meta-bg;
  border-top: $header-meta-border-top-width solid $header-meta-border-top-color;
  border-bottom: $header-meta-border-bottom-width solid $header-meta-border-bottom-color;

  @include respond-down(md) {
    display: none;
  }
}

.m-header-meta__box {
  @include make-container();
  @include make-container-max-widths();
}

.m-header-meta__row {
  @include make-row();

  align-items: center;
}
