@import "../settings/link";
@import "../../../styles/animations/fade-out-right-in-left";
@import "../../../styles/functions/color-map";
@import "../../../styles/mixins/icon";
@import "../../../styles/typo/typo-mixins";
@import "../../../styles/mixins/word-break";

@mixin link() {
  @include word-break();

  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: underline;
  }
}

@mixin link-deco() {
  @include word-break();

  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
  }
}

@mixin link-color($style: default) {
  @include link-color-only($style);

  &:hover,
  &:focus,
  &:active {
    @include link-color--hover($style);
  }
}

@mixin link-color-only($style: default) {
  $color-link: get-color($link-colors-map, $style, text);

  color: $color-link;
}

@mixin link-color--hover($style: default) {
  $color-link--hover: get-color($link-colors-map, $style, text--hover);

  color: $color-link--hover;
}

@mixin link-icon() {
  @include typo-tag();
  position: relative;

  display: inline-block;

  text-transform: uppercase;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@mixin link-icon--mailto() {
  text-transform: none;
}

@mixin link-icon--adjust($icon-size: $link__icon-size, $icon-padding: $link__icon-padding, $side: right) {
  @if $side == left {
    padding-left: $icon-size + $icon-padding;
  } @else if $side == right {
    padding-right: $icon-size + $icon-padding;
  } @else {
    @error "$side of #{$side} is not supported - use left or right!";
  }
}

@mixin link-icon--justify($icon-size: $link__icon-size, $icon-padding: $link__icon-padding, $side: right) {
  @if $side == left {
    margin-left: -($icon-size + $icon-padding);
  } @else if $side == right {
    margin-right: -($icon-size + $icon-padding);
  } @else {
    @error "$side of #{$side} is not supported - use left or right!";
  }
}

@mixin link__icon($icon-size: $link__icon-size) {
  @include icon($icon-size);

  position: absolute;
}

@mixin link__icon--top() {
  top: 0;

  margin-top: 0;
}

@mixin link__icon--middle($icon-size: $link__icon-size) {
  top: 50%;

  margin-top: -($icon-size / 2);
}

@mixin link__icon--adjust($side: right) {
  @if $side == left {
    left: 0;
  } @else if $side == right {
    right: 0;
  } @else {
    @error "$side of #{$side} is not supported - use left or right!";
  }
}

@mixin link__arrow--motion() {
  animation-duration: $link__arrow-motion-duration;
  animation-timing-function: $link__arrow-motion-easing;
  animation-fill-mode: both;
  animation-name: fadeOutRightInLeft;
}
