<!--Please create here a HTML example by using just default HTML tags-->
<axa-card classes="m-card">
    <h1 data-slot="headline">Headline</h1>
    <h2 data-slot="subline">Headline</h2>
    <!-- The following "children" are examples and will be added to the second col -->
    <axa-form-group data-slot="details" legend="Postleitzahl">
        <axa-input value="PLZ" name="test-name"></axa-input>
        <br>
        <axa-button tag="button" color="blue" size="lg">Jetzt Private vorsorge starten</axa-button>
    </axa-form-group>
</axa-card>