<div class="grid-examples">
  <axa-container>
    <axa-row>
      <axa-col>Col 1 of 2</axa-col>
      <axa-col>Col 2 of 2</axa-col>
    </axa-row>

    <axa-row no-gutters>
      <axa-col>Col 1 of 2</axa-col>
      <axa-col>Col 2 of 2</axa-col>
    </axa-row>
  </axa-container>
</div>
