@import "settings/header-sub-navigation";
@import "../m-link/mixins/link";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/icon";
@import "../../styles/mixins/quantity-query";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";

.m-header-sub-navigation {
  display: none;

  background: $header-sub-navigation-bg;
  border-bottom: $header-sub-navigation-border-width solid $header-sub-navigation-border-color;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.3);
  text-align: left;

  .is-header-sub-navigation-open & {
    display: block;
  }
}

.m-header-sub-navigation--flyout {
  position: absolute;

  top: 100%;
  left: 0;

  z-index: $header-sub-navigation-z-index;

  width: 100%;

  margin-top: $header-sub-navigation-margin-top;
}

.m-header-sub-navigation__index {
  background: $header-sub-navigation__index-bg;
}

.m-header-sub-navigation__index-box {
  @include make-container();
  @include make-container-max-widths();
  @include make-row(null);

  height: $header-sub-navigation__index-height;

  align-items: center;
}

.m-header-sub-navigation__index-link {
  @include word-break();
  @include typo-text-longer();

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    font-weight: 600;
  }
}

.m-header-sub-navigation__index-close {
  @include word-break();
  @include typo-legals--semibold();

  position: relative;

  padding-right: $header-sub-navigation__index-close__icon-size + $header-sub-navigation__index-close-padding-left;

  margin-left: auto;
  text-transform: uppercase;
  border: none;
  background: transparent;

  color: $color-axa-blue;

  &:hover,
  &:active,
  &:focus {
    color: $color-prim-blue-deep-sapphire;

    cursor: pointer;

    outline: none;
  }
}

.m-header-sub-navigation__index-close__icon {
  @include icon($header-sub-navigation__index-close__icon-size);

  position: absolute;

  top: 50%;
  right: 0;

  margin-top: ($header-sub-navigation__index-close__icon-size / -2);
}

.m-header-sub-navigation__box {
  @include make-container();
  @include make-container-max-widths();

  padding-top: $header-sub-navigation-padding-top;
  padding-bottom: $header-sub-navigation-padding-bottom;
}

.m-header-sub-navigation__row {
  @include make-row(null);

  margin-right: -$header-sub-navigation__block-x-padding;
  margin-left: -$header-sub-navigation__block-x-padding;

  justify-content: flex-start;

  & + & > .m-header-sub-navigation__block {
    padding-top: $header-sub-navigation__block-padding-top--repeat;
  }
}

.m-header-sub-navigation__block {
  @include make-col(3);

  padding: $header-sub-navigation__block-y-padding $header-sub-navigation__block-x-padding;

  border-right: $header-sub-navigation__block-border-width solid $header-sub-navigation__block-border-color;

  &:last-child {
    border: none;
  }

  .m-header-sub-navigation__row--col-2 & {
    @include make-col(6);

    padding-right: $header-sub-navigation__block-x-padding-2-columns;
    padding-left: $header-sub-navigation__block-x-padding-2-columns;

    &:nth-child(n + 3) {
      padding-top: $header-sub-navigation__block-padding-top--repeat;
      border-right: $header-sub-navigation__block-border-width solid $header-sub-navigation__block-border-color;
    }

    &:nth-child(2n) {
      border: none;
    }
  }

  .m-header-sub-navigation__row--col-3 & {
    @include make-col(4);

    padding-right: $header-sub-navigation__block-x-padding-3-columns;
    padding-left: $header-sub-navigation__block-x-padding-3-columns;

    &:nth-child(n + 4) {
      padding-top: $header-sub-navigation__block-padding-top--repeat;
      border-right: $header-sub-navigation__block-border-width solid $header-sub-navigation__block-border-color;
    }

    &:nth-child(3n) {
      border: none;
    }
  }

  .m-header-sub-navigation__row--col-4 & {
    &:nth-child(n + 5) {
      padding-top: $header-sub-navigation__block-padding-top--repeat;
      border-right: $header-sub-navigation__block-border-width solid $header-sub-navigation__block-border-color;
    }

    &:nth-child(4n) {
      border: none;
    }
  }

  // CSS quantity based layout should only match if no column size modifiers are defined
  .m-header-sub-navigation__row:not(.m-header-sub-navigation__row--col-2):not(.m-header-sub-navigation__row--col-3):not(.m-header-sub-navigation__row--col-4) & {
    @include quantity-query(1) {
      @include make-col(4);
    }

    @include quantity-query(2) {
      @include make-col(3);

      padding-right: $header-sub-navigation__block-x-padding-2-columns;
      padding-left: $header-sub-navigation__block-x-padding-2-columns;
    }

    @include quantity-query(3n) {
      @include make-col(4);

      padding-right: $header-sub-navigation__block-x-padding-3-columns;
      padding-left: $header-sub-navigation__block-x-padding-3-columns;
    }
  }
}

.m-header-sub-navigation__row--col-2 {
  margin-right: -$header-sub-navigation__block-x-padding-2-columns;
  margin-left: -$header-sub-navigation__block-x-padding-2-columns;
}

.m-header-sub-navigation__row--col-3 {
  margin-right: -$header-sub-navigation__block-x-padding-3-columns;
  margin-left: -$header-sub-navigation__block-x-padding-3-columns;
}

.m-header-sub-navigation__block--wide {
  @include quantity-query(2) {
    @include make-col(6);

    .m-header-sub-navigation__list {
      column-count: 2;
    }
  }
}

.m-header-sub-navigation__category {
  @include word-break();
  @include typo-item-highlight();

  color: $header-sub-navigation__category-color;
  text-transform: uppercase;
}

.m-header-sub-navigation__list {
  @include unstyle-list();

  margin-top: $header-sub-navigation__list-margin-top;
}

.m-header-sub-navigation__list-item {
  display: block;
}

.m-header-sub-navigation__link {
  @include word-break();
  @include typo-text-longer();

  display: inline-block;
  width: 100%;
  padding: $header-sub-navigation__list-item-y-padding 0;

  line-height: $header-sub-navigation__list-item-line-height;

  &.is-header-sub-navigation-active,
  &:hover,
  &:active,
  &:focus {
    @include link-color--hover();

    text-decoration: none;

    font-weight: 600;
    letter-spacing: -0.005em;
  }
}
