$input-padding: 0 20px !default;
$input-padding-icon: 0 40px 0 20px !default;
$input-inline-margin: 15px !default;
$input-inline-margin--mobile: 10px !default;


$input-icon-size: 48px !default;

$input-icon-before-width: 8px !default;
$input-icon-before-height: 16px !default;

$input-icon-height: 16px !default;
$input-icon-width: 16px !default;

$input-icon-button-height: 40px !default;
$input-icon-button-width: 40px !default;
