@import "settings/header-mobile-navigation";
@import "../m-header-mobile/settings/header-mobile";
@import "../m-link/mixins/link";
@import "../../styles/mixins/button-reset";
@import "../../styles/settings/colors";
@import "../../styles/mixins/force-ios-click";
@import "../../styles/grid/grid-mixins";
@import "../../styles/mixins/hardware-accelerate";
@import "../../styles/mixins/icon";
@import "../../styles/mixins/respond";
@import "../../styles/typo/typo-mixins";
@import "../../styles/mixins/unstyle-list";
@import "../../styles/mixins/word-break";

.m-header-mobile-navigation {
  display: block;

  text-align: left;

  &:first-child {
    margin-top: -$header-mobile__item-margin-top;
  }
}

.m-header-mobile-navigation--relative {
  position: relative;

  overflow: hidden;
}

.m-header-mobile-navigation__nav {
  display: block;

  background: $color-prim-white;

  & & {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: $header-mobile-navigation__nav-z-index;

    min-height: 100%;

    transform: translateX(110%);
    transition: transform 0.2s ease;

    @include respond-up(sm) {
      left: 10px;
      box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.3);
    }
  }

  .is-header-mobile-navigation-nav-open > & {
    transform: translateX(0);
  }
}

.m-header-mobile-navigation--gpu {
  .m-header-mobile-navigation__nav {
    & & {
      @include hardware-accelerate();

      // fix iOS landscape render issue
      // https://github.com/axa-ch/patterns-library/issues/291
      transform: translate3d(110%, 0, 0);
    }

    .is-header-mobile-navigation-nav-open > & {
      transform: translate3d(0, 0, 0);
    }
  }
}

.m-header-mobile-navigation__list {
  @include unstyle-list();
}

.m-header-mobile-navigation__list-item {
  display: block;

  border-bottom: $header-mobile-navigation__list-item-border-width solid $header-mobile-navigation__list-item-border-color;

  &:first-child {
    border-top: $header-mobile-navigation__list-item-border-width solid $header-mobile-navigation__list-item-border-color;
  }
}

.m-header-mobile-navigation__category,
.m-header-mobile-navigation__back,
.m-header-mobile-navigation__list-link {
  @include make-container();
  @include word-break();
  @include link-color-only();
  @include force-ios-click();

  position: relative;

  display: block;
  padding-left: $header-mobile__item-padding-left;
  padding-right: $header-mobile__item-padding-right;

  text-transform: uppercase;

  &.is-header-mobile-navigation-active,
  &:hover,
  &:active,
  &:focus {
    @include link-color--hover();
  }
}

.m-header-mobile-navigation__category,
.m-header-mobile-navigation__back {
  @include button-reset();

  background: transparent;
  text-align: left;
}

.m-header-mobile-navigation__category,
.m-header-mobile-navigation__list-link {
  @include typo-secondary-text--semibold();

  padding-top: $header-mobile__item-padding-y;
  padding-bottom: $header-mobile__item-padding-y;
}

.m-header-mobile-navigation__category {
  padding-right: $header-mobile-navigation__category-padding-right;
}

.m-header-mobile-navigation__back {
  @include typo-item-highlight();

  padding-top: $header-mobile-navigation__back-y-padding;
  padding-bottom: $header-mobile-navigation__back-y-padding;
  padding-left: $header-mobile-navigation__back-padding-left;
}

.m-header-mobile-navigation__list-link {
}

.m-header-mobile-navigation__icon-next,
.m-header-mobile-navigation__icon-back {
  @include icon($header-mobile-navigation__icon-size);

  position: absolute;
  top: 50%;

  margin-top: ($header-mobile-navigation__icon-size / -2);

  pointer-events: none;
}

.m-header-mobile-navigation__icon-next {
  right: $header-mobile__item-padding-right;

  transform: rotate(-90deg);
}

.m-header-mobile-navigation__icon-back {
  left: $header-mobile__item-padding-left;

  transform: rotate(90deg);
}
