/// Enable hardware accelerated (GPU) rendering.
///
/// @param {string} $visibility ["hidden"] - Style of `backface-visibility`.
@mixin hardware-accelerate($visibility: hidden, $x: 0, $y: 0, $z: 0) {
  transform: translate3d($x, $y, $z);
  backface-visibility: $visibility;
}
