<axa-cookie-disclaimer button-name="Akzeptieren" title="This Website uses cookies" classes="o-cookie-disclaimer">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum.
      <axa-link color="white" href="https://axa.ch/de/informationen/datenschutz.html" arrow>Data protection</axa-link>
  </p>
</axa-cookie-disclaimer>

<!-- EXAMPLE WHERE IT IS AT THE BOTTOM WITH POSITION FIXED:

<axa-cookie-disclaimer fixed button-name="Akzeptieren" title="This Website uses cookies" href="https://axa.ch/de/informationen/datenschutz.html" link-title="Data protection" classes="o-cookie-disclaimer">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum.
      <axa-link color="white" href="https://axa.ch/de/informationen/datenschutz.html" arrow>Data protection</axa-link>
  </p>
</axa-cookie-disclaimer>

-->

<!-- JUST FOR DEMO -->
<div class="js-only-for-demo-local-storage"></div>
<script>
const time = localStorage.getItem('axa-ch-cookie-disclaimer-accepted');
document.querySelector('.js-only-for-demo-local-storage').innerHTML =
  time ? 'Accepted the disclaimer at: <b>' + new Date(+time).toLocaleString() + '</b>. Please delete local storage entry or all cache data from the browser in order to see it again' : ''
</script>
