<!--
  component-name: progress-bar
  added to patternslibrary: 08.03.2019
  author: Noah Liechti

  dependencies to other axa-components:
- <axa-icon>

  behaviour of the <axa-progress-bar>:
- a negativ value-attribute or a negative max-attribute resolves in a progress-bar with 0%
  and a error is thrown
- the value can be set without a max-attribute, when the value is betwenn 0 and 1
- if the max-attribute is set, the value has to be between 0 and the value of the max-attribute
- is the value bigger than the max-attribute a warning is thrown
- is a value given that is bigger than 1, but no max-attribute an information gets thrown because the
  indeterminate state is not realised

  possible attributes:
- value -> positiv, numeric values
- max ->  positiv, numeric values
- icon-shown -> true / false (optional)
- percentage-shown -> true / false (optional)

  Attention - in IE and Edge the coloring looks a bit different!
-->

<!-- *** EXAMPLES ********************************************************** -->

<!-- Example 1
  click the <axa-button></axa-button> to run an animated progress, click again to restart the animation

  expected outcome:
  the progress-bar fills itself till 100%
-->
<axa-progress-bar
  classes="o-progress-bar"
  class="js-progress-bar-demo"
  max="300"
  icon-shown
  percentage-shown
>
</axa-progress-bar>
<div style="margin-top: 30px; margin-bottom: 30px; text-align: center">
  <axa-button style="display: inline-block;" onclick="run()" color="red">Start</axa-button>
</div>

<!-- Example 2
  expected outcome:
- error in console because of a negative value
- no percentage displayed
-->
<axa-progress-bar
  classes="o-progress-bar"
  value="-1"
  max="100"
  icon-shown
>
</axa-progress-bar>
</br>

<!-- Example 3
  expected outcome:
- no icon displayed
- 44%
-->
<axa-progress-bar
  classes="o-progress-bar"
  value="22.2"
  max="50"
  percentage-shown=""
>
</axa-progress-bar>
</br>

<!-- Example 4
  expected outcome:
- fully loaded progress-bar, because of indeterminate state wich is not supported
- information in console
-->
<axa-progress-bar
  classes="o-progress-bar"
  value="22.2"
  icon-shown=""
  percentage-shown
>
</axa-progress-bar>
</br>

<!-- Example 5
  expected outcome:
- 10% loaded progress-bar
-->
<axa-progress-bar
  classes="o-progress-bar"
  value="0.1"
  percentage-shown
  icon-shown
>
</axa-progress-bar>
</br>

<!-- Example 6
  expected outcome:
- warning in console because value-attribute is bigger than max-attribute
-->
<axa-progress-bar
  classes="o-progress-bar"
  value="50"
  max="40"
  percentage-shown
  icon-shown
>
</axa-progress-bar>
</br>

<!-- Example 7
  expected outcome:
- 50% loaded progress-bar
-->
<axa-progress-bar
  classes="o-progress-bar"
  value="50"
  max="100"
  percentage-shown="percentage-shown"
  icon-shown="icon-shown"
>
</axa-progress-bar>
<!--
  the script animates the progressbar. Per iteration the value can be increased
  by a random value between 0 and the stepIndex. Each iteration has a timeout of
  100 milliseconds. Wich is defined in the timeout variable.
-->
<script>
  var value = 0;
  var iterationTime = 100;
  var stepIndex = 7;
  var progressbar = document.querySelector('.js-progress-bar-demo');
  var max = progressbar.getAttribute('max') ? progressbar.getAttribute('max') : 0;

  function run() {
    if (value >= max) {
      value = 0;
    }
    setTimeout(function () {
      value += Math.floor(Math.random() * (stepIndex - 1) + 1);
      if (value < max) {
        progressbar.setAttribute('value', value);
        run();
      } else {
        progressbar.setAttribute('value', max);
      }
    }, iterationTime);
  }
</script>
