<article style="margin-bottom: 100px;">
  <h1>Demo on how to pass a callback function:</h1>
  <div id="my-event-demo-react"></div>

  <h1>Demo TodoMVC:</h1>
  <div id="my-todo-demo-react"></div>
</article>
